#content .content-bot { padding-bottom: 48px; overflow: hidden; }
.ui-breadcrumb { position: relative; z-index: 5;  }

.patch-main-menu {float:left; width:232px; background:url(/Templates/FreedomCore/images/game/patch-notes/bg-left-body.jpg) 0 0 repeat-y; margin-bottom:60px;}
.patch-main-menu .wrapper {width:232px; background:url(/Templates/FreedomCore/images/game/patch-notes/bg-left-bottom.jpg) 0 100% no-repeat;}
.patch-main-menu .wrapper #patchlist {width:232px; background:url(/Templates/FreedomCore/images/game/patch-notes/bg-left-top.jpg) 0 0 no-repeat; padding-top:34px;}
.patch-main-menu .wrapper #patchlist ul {width:204px; margin:0 auto;}
.patch-main-menu .wrapper #patchlist ul li {clear:both; border-bottom:1px solid #4c300e;}
.patch-main-menu .wrapper #patchlist ul li a {display:block; width:204px; padding:13px 0;}
.patch-main-menu .wrapper #patchlist ul li a span {display:block;}
.patch-main-menu .wrapper #patchlist .patch-thumb {float:left; width:45px; height:45px;  border:1px solid #352310; margin:0 11px 0 10px; border-radius:2px; }
.patch-main-menu .wrapper #patchlist .patch-version {color:#b79855; font-size:11px; padding-right: 5px; line-height:13px; text-transform:uppercase; margin-top:0px;}
.patch-main-menu .wrapper #patchlist .patch-title {font-size:13px; line-height:18px;}
.patch-main-menu .wrapper #patchlist ul li a.current {background:url(/Templates/FreedomCore/images/game/patch-notes/bg-left-current.png);}
.patch-main-menu .wrapper #patchlist ul li a.current .patch-thumb {border:1px solid #cd9000;}
.patch-main-menu .wrapper #patchlist ul li a.current span {color:#fff;}
.patch-main-menu .wrapper #patchlist ul li a:hover .patch-thumb {border:1px solid #cd9000;}
.patch-main-menu .wrapper #patchlist ul li a:hover span {color:#fff;}
.patch-main-menu .wrapper .patchlist-viewall .button1 {margin:6px 0 0 11px;}
.patch-main-menu .wrapper .patchlist-viewall .button1 span span {width:154px;}

.patch-contents {float:left; width:738px; margin-left:24px;}
h2.patch-title { position: relative; z-index: 5; margin:265px 0 44px; color:#efe3d2; font:normal 42px/45px Palatino Linotype,Sans-serif; letter-spacing:-1px; display:block}
.patch-sub-title { position: relative; z-index: 5; margin: 10px 0 40px 0; color: #B79855; display: block; font-size: 20px; font-family: "Palatino Linotype",Sans-serif; }
.subpatches-nav { background: rgba(0, 0, 0, 0.5); min-height:25px; border-radius:4px; margin:0 25px 25px 0; padding:7px;}
.subpatches-nav  li {display:inline-block; height:25px;}
.subpatches-nav a {line-height:25px; height:25px; font-size:12px; padding:0 14px; display:block; float:left;  background:url(/Templates/FreedomCore/images/game/patch-notes/bg-border-subpatch-nav.gif) 100% 0 no-repeat;}
.subpatches-nav a.current-view {background:none; background-color:#632004; color:#fff; font-weight: bold; border-radius:3px;}

.subpatches-nav li:last-child a.current-view { background-color:#632004; }
.subpatches-nav li:last-child a {background:none;}

.patch-overview { margin: 0 25px 40px 0; }
.patch-overview .subpatch-title { position: relative; z-index: 5; font-weight: normal; font-size:24px; color:#efe3d2; display:block; margin-top:45px;}
.patch-overview .subpatch-title em {color:#9c441f; font:normal 12px Arial, Serif; display:inline-block; margin-left:11px;}
.patch-desc { margin-top: 25px; font-size:14px; color:#b79855; }
.patch-desc p { margin-bottom: 20px; line-height:28px; } 
.patch-media { width:255px; float:right;  margin-left: 10px; margin-top: 5px; }
.patch-media .media-div { width: 241px; float:right; }

.patch-contents .under-dev-message { width: 580px; margin: 30px auto 70px auto; min-height: 170px; border-radius: 4px; box-shadow: 0 0 10px #000; background: url(/Templates/FreedomCore/images/wiki/box-bg.jpg) 0 0 no-repeat #21130a; }
.patch-contents .under-dev-message .image { position: absolute; width: 270px; height:220px; margin: 0; }
.patch-contents .under-dev-message#message-ptr .image { background: url(/Templates/FreedomCore/images/game/patch-notes/thumbnails/under-dev/ptr-box-bg.png) no-repeat 0 25px ; }
.patch-contents .under-dev-message#message-live .image { background: url(/Templates/FreedomCore/images/game/patch-notes/thumbnails/under-dev/live-box-bg.png) no-repeat 0 0 ; }
.patch-contents .under-dev-message .join-ptr-title { position: relative; z-index: 1; margin-left: 170px; padding: 18px 20px 5px 20px; color: #EFE3D2; font-size: 13px; text-transform: uppercase; }
.patch-contents .under-dev-message .join-ptr-message { position: relative; z-index: 1; padding: 0 20px ;  margin: 10px 0 10px 170px; color: #B79855; line-height: 23px; }
.patch-contents .under-dev-message #message-button { margin: 8px 0 15px 190px; position: relative; z-index: 1; }

.media-link {display:block; width:240px; font-size:12px; line-height:25px; height:20px; margin-bottom:29px; background-image:url(/Templates/FreedomCore/images/game/patch-notes/patchnotes-sprite.gif); background-repeat:no-repeat; padding-left:27px;}
.media-link.trailer {background-position:2px -43px;}
.media-link.wallpaper {background-position:2px 6px;}
.media-thumbnail, .media-thumbnail span {width:220px; height:129px; display:block; background-repeat:no-repeat;}
.media-thumbnail .media-trailer-glass {background-image:url(/Templates/FreedomCore/images/game/patch-notes/thumbnail-frame-glass.png); background-position:0 0;}
.media-thumbnail .media-thumbnail-glass, .media-thumbnail .media-wallpaper-glass {background-image:url(/Templates/FreedomCore/images/game/patch-notes/thumbnail-frame-glass.png); background-position:0 -267px;}
.media-frame:hover .media-trailer-glass, .media-thumbnail:hover .media-trailer-glass {background-position:0 -130px;}
.media-thumbnail:hover .media-wallpaper-glass {background-position:0 100%;}

.table-of-contents { padding: 15px 20px; clear: both; margin: 8px 20px 10px 0; border-radius: 4px; width: 150px; float: left; box-shadow: 0 0 10px #000; background: url(/Templates/FreedomCore/images/game/patch-notes/toc-box-background.jpg) no-repeat 0 0 #21130a; }
.table-of-contents .toc-header { font-size: 13px; text-transform: uppercase; margin-bottom: 15px; color:#EFE3D2; }
.table-of-contents .toc-link { display: block; margin: 7px 0 }


.feature-block { width:710px; clear:both; padding-bottom:35px;}
.feature-block .feature-title { color:#efe3d2; font-size:17px; line-height:19px; width:437px; height:30px; display:inline-block;}
.feature-block .feature-desc { line-height:23px; }
.feature-block .feature-desc p { margin: 5px 0 25px 0; position: relative; z-index: 5; }
.feature-block#overview .feature-links { float: left; }

.patch-feature .left-txt .feature-title, 
.patch-feature .left-txt .feature-desc {float:left;}
.patch-feature .left-txt .media-frame { float: right; }
.patch-feature .right-txt .feature-title, 
.patch-feature .right-txt .feature-desc { float:right;}
.patch-feature .right-txt .media-frame { float: left; }
.patch-feature .feature-block { overflow: hidden; padding: 0 28px 50px 0; margin-top: 0px; }
.patch-feature .feature-block p strong { color: #fbdfc1; }
.patch-feature .feature-block ul  { margin: 0; }
.patch-feature .feature-block ul li,
.feature-links ul li { padding-left: 15px; background: url(/Templates/FreedomCore/images/icons/bullet2.gif) 0 7px no-repeat;}
.patch-feature .feature-block h3 { color: #efe3d2; position: relative; z-index: 2; padding-bottom: 10px; margin-bottom: 10px; font-size: 18px; font-weight: normal; border-bottom: 2px solid #552b12; }
.patch-feature .feature-block h3 .top-link { right: 0; position: absolute; font-size: 11px; margin-top: 7px; background: url(/Templates/FreedomCore/images/icons/flyout-arrows.gif) no-repeat 0 -54px; padding-left: 18px;}
.patch-feature .feature-block h4 { color: #efe3d2; font-size: 14px; font-weight: normal; }
.patch-feature .feature-block .feature-background { width: 300px; height: 345px; float: right; }
.patch-feature .feature-block .feature-image { position: relative; z-index: 7; }
.patch-feature .feature-block .feature-image.gallery:hover { cursor: pointer; }
.patch-feature .feature-block .feature-image.float-left { margin: 5px 20px 5px 0; }
.patch-feature .feature-block .feature-image.float-right { margin: 5px 0 5px 20px; }
.patch-feature .feature-block .feature-thumbnail { display:block; width: 220px; height: 129px;}
.patch-feature .feature-block .feature-thumbnail .view { display: block; height: 40px; width: 60px; position: relative; top: -16px; float:right; margin-right: -10px; background: url(/Templates/FreedomCore/images/layout/lightbox/ui.png) -80px -158px no-repeat; }
.patch-feature .feature-block .feature-thumbnail:hover .view { background-position: -80px -209px; }
.feature-links { font-size: 12px; margin-top: 20px; line-height: 23px; }
.feature-links h6 { color: #fef092; font-weight: normal; text-transform: uppercase; font-size: 11px; }
.feature-links ul li { color: #854A26; }


.sub-patchnotes { clear: both; }
.sub-patchnotes .sub-patches .subpatch-title { font-size:24px;color:#efe3d2; display:inline-block; margin-top:8px;}
.sub-patchnotes .sub-patches .subpatch-title em {color:#9c441f; font:normal 12px Arial, Serif; display:inline-block; margin-left:11px;}
.sub-patchnotes .sub-patches { padding:37px 20px; }
.sub-patchnotes .sub-patches p {margin:0;}
.sub-patchnotes .sub-patches strong, 
.sub-patchnotes .sub-patches b { color: #efe3d2; text-transform: uppercase; font-size: 14px; display: block; padding:20px 0 5px 0;}
.sub-patchnotes .sub-patches a, .sub-patchnotes .sub-patches u {text-decoration:none;}
.sub-patchnotes .sub-patches ul {list-style-type : disc; margin:0 0 10px 15px;}
.sub-patchnotes .sub-patches ul li {color:#e9bd7f; font-size:12px; line-height:22px;}
.sub-patchnotes .sub-patches ul li  ul li {background:none; padding-left:0;}
.game-patchnotes-ptr .sub-patchnotes .sub-patches { padding: 0; }

/* Preview Page Styles */
.preview-name { margin-top:155px; color:#efe3d2; font:normal 42px/45px Palatino Linotype,Sans-serif; letter-spacing:-1px; display:block}


/* Custom patch note pages styles */
.game-patchnotes-5-2 .thunder-king-raid .feature-background { height: 325px; }


.preview-page .feature-block .description { color: #b79855; font-size: 16px; line-height: 28px; }
.preview-page .feature-block { margin: auto; }
.preview-page .feature-block label { text-transform: uppercase; font-size: 11px; color: #b79855; }
.preview-page .feature-box { overflow: hidden; opacity: .95; background: #211309 url(/Templates/FreedomCore/images/wiki/box-bg.jpg) 0 0 no-repeat; border-radius: 4px; box-shadow: #0d0703 0 0 10px; margin: 10px 20px 10px 0; padding: 15px; width: 395px; color: #efc9a0;}
.feature-box em { color: #98542D; font-style: normal; }
.preview-page .feature-box ul { margin: 0 0 0 2px; }
.preview-page .feature-box .feature-image .float-left { margin-right: 0; }
.preview-page  .patch-sub-title { color: #98542D; } 

.game-patchnotes-under-dev.oondasta .patch-titles { margin-top: 435px; } 
.game-patchnotes-under-dev.oondasta #oondasta { position: absolute; width: 640px; height: 550px; margin-left: 132px; margin-top: -32px;}
.game-patchnotes-under-dev.nalak .patch-titles { margin-top: 435px; } 
.game-patchnotes-under-dev.nalak #nalak { position: absolute; margin-left: -4.5px; margin-top: 2px;}
.game-patchnotes-5-4 .pve .feature-background { height: 440px; width: 320px; }
.game-patchnotes-5-4 .world .feature-background { height: 440px; width: 360px; background-position: 10px center;}


