#content .content-bot {padding:0 0 80px 0 }

#content-subheader {margin-top:46px }
#content-subheader a {font-size:14px }
#content-subheader h4 { color: #efe3d2; font: 60px "Palatino Linotype", Georgia, Times, sans-serif; letter-spacing: -1.5px; text-shadow: #241209 0 0 5px; }

.circle-frame { border:none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.horde {color:#ee1919 }
.alliance {color:#247faa }

.basic-info-box-list {width:500px; margin-bottom:38px }
.basic-info-box-list .basic-info-box-list-title {width:100%; height:63px; background:url(/Templates/FreedomCore/images/game/title-bg-basicinfo-box.gif) no-repeat 0 0; }
.basic-info-box-list .basic-info-box-list-title span {font:normal 14px/62px Arial, Sans-serif; padding-left:15px; color:#efe3d2; text-transform:uppercase }
.basic-info-box-list .list-box p { margin:0; padding:0 23px 30px 23px; font-size:12px; line-height:20px; color:#b79855 }
.basic-info-box-list .list-box { background:url(/Templates/FreedomCore/images/game/bg-basicinfo-box-bottom.gif) no-repeat 0 100% }
.basic-info-box-list .list-box .wrapper { background:url(/Templates/FreedomCore/images/game/bg-basicinfo-box-top.gif) no-repeat 0 0 #211309; padding:7px 0 23px 0 }
.basic-info-box-list .list-box li {padding-bottom:20px; margin-right:10px; width:143px; }
.basic-info-box-list .list-box li .list-title {display:block; word-wrap:break-word; word-break:break-all }
.basic-info-box-list .list-box li .icon-frame {float:left; margin-right:10px }
.basic-info-box-list .list-box ul {margin:0 0 0 23px }

/* scroll parchment */
.game-scrollbox { float: right; margin: 388px 27px 33px 0; position: relative; width: 388px; }
.game-scrollbox .wrapper { padding-bottom: 51px; position: relative; z-index: 1; }
.game-scrollbox .scroll-title { color: #603317; display: block; font: bold 18px Arial, sans-serif; letter-spacing: -0.5px; padding: 32px 0 15px 53px; }
.game-scrollbox .scroll-content .wrapper { padding-bottom: 71px; }
.game-scrollbox .scroll-bg { background: url(/Templates/FreedomCore/images/game/bg-scrollbox-body.png) 0 0 repeat-y; bottom: 101px; left: 4px; position: absolute; right: 0; top: 56px; z-index: 0; }
.game-scrollbox .scroll-bg:before { background: url(/Templates/FreedomCore/images/game/bg-scrollbox-top.png) 0 0 no-repeat; content: ""; height: 86px; left: 0; position: absolute; top: -56px; right: 0; }
.game-scrollbox .scroll-bg:after { background: url(/Templates/FreedomCore/images/game/bg-scrollbox-bottom.png) 0 00% no-repeat; bottom: -101px; content: ""; height: 131px; left: 0; position: absolute; right: 0; }

/* feature list */
.feature-list { color:#341F12; padding:0 50px 0 45px; width:293px }
.feature-list .icon-frame-gloss { -moz-background-size: 46px 46px;-o-background-size:46px 46px; -webkit-background-size:46px 46px }
.feature-list .feature-wrapper { width:190px; float:left; padding:0 0 15px 10px }
.feature-list .feature-item-title { padding-top:3px; display:block; font-weight:bold; font-size:14px; line-height:21px; letter-spacing:-0.5px; text-transform:uppercase  /*bold 14px/21px Arial,Sans-serif*/ }
.feature-list .feature-item-desc { font-size:12px; line-height:14px; margin:0 }

.available-info-box { width:331px; background:url(/Templates/FreedomCore/images/game/available-box.jpg) 0 0 no-repeat; float:right; padding:30px 42px 26px 36px;}
.available-info-box-title { color:#efe3d2; font-size:14px; width:300px; text-transform:uppercase; margin-bottom:6px }
.available-info-box-desc { color:#967648; font-size:12px; width:300px; display:block; margin-bottom:24px }
.available-info-box li { float:left; width:155px }
.available-info-box li a { display:block; height:36px; width:143px; padding-bottom:17px }
.available-info-box .icon-frame { float:left }
.available-info-box .list-title { float:left; display:block; height:36px; line-height:36px; padding-left:10px; }

.faction-req { margin-left: 53px }
.faction-req .group { font-size: 12px; line-height: 18px; display: inline-block; height: 20px; padding-right: 20px }
.faction-req .horde { background: url(/Templates/FreedomCore/images/icons/horde.png) no-repeat right 2px }
.faction-req .alliance { background: url(/Templates/FreedomCore/images/icons/alliance.png) no-repeat right 2px }
.faction-req .req { font-style: italic; font-size: 11px; margin-left: 10px; line-height:18px; vertical-align:top }
.faction-req .req.bc { color: #5b9b17 }
.faction-req .req.wow { color: #f7ad01 }
.faction-req .req.wrath { color: #2588c0 }
.faction-req .req.cataclysm { color: #DD6800 }

/* bottom page nav */
.guide-page-nav { background: url(/Templates/FreedomCore/images/game/guide/bg-guide-bottom-nav.jpg) no-repeat; height:84px; width:890px; margin:0 auto; position:relative; text-align:center }
.guide-page-nav .current-guide-title {color:#f0e29a; font-size:13px; position:relative; top:36px }
.guide-page-nav .nav-buttons {position:absolute; top:24px; left:0; width:100%;}
.guide-page-nav .nav-buttons a {-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000 }
.guide-page-nav .nav-buttons a span span {background:none; background-repeat:no-repeat; display:block; height:49px; line-height:47px; font-size:13px }
.guide-page-nav .nav-buttons .prev {background: url(/Templates/FreedomCore/images/game/guide/bg-guide-bottom-nav-pre.gif) 0 0 no-repeat; display:block; float:left }
.guide-page-nav .nav-buttons .prev span {background: url(/Templates/FreedomCore/images/game/guide/bg-guide-bottom-nav-pre.gif) 100% -49px no-repeat; display:block; margin-left:52px }
.guide-page-nav .nav-buttons .prev span span {background-position: 100% 0; margin:0; padding-right:39px }
.guide-page-nav .nav-buttons .prev:hover {background-position:0 -98px }
.guide-page-nav .nav-buttons .prev:hover span {background-position:100% -147px }
.guide-page-nav .nav-buttons .prev:hover span span {background-position:100% -49px }
.guide-page-nav .nav-buttons .next {background: url(/Templates/FreedomCore/images/game/guide/bg-guide-bottom-nav-next.gif) 100% 0 no-repeat; display:block; float:right }
.guide-page-nav .nav-buttons .next span {background: url(/Templates/FreedomCore/images/game/guide/bg-guide-bottom-nav-next.gif) 0 -49px no-repeat; display:block; margin-right:62px }
.guide-page-nav .nav-buttons .next:hover {background-position:100% -98px }
.guide-page-nav .nav-buttons .next:hover span {background-position:0 -147px }
.guide-page-nav .nav-buttons .next span span {background-position: 0 0; margin:0; padding-left:46px }
.guide-page-nav .nav-buttons .next:hover span span {background-position:0 -49px }

/* Fansite Link Box */
.fansite-link-box  {background:url(/Templates/FreedomCore/images/game/bg-fansite-bottom.gif) 0 100% no-repeat; width:343px; float:right; margin:0 54px 40px 0;}
.fansite-link-box  .wrapper {background:url(/Templates/FreedomCore/images/game/bg-fansite-top.gif) 0 0 no-repeat; width:343px; min-height:83px; padding:4px 0 14px 16px;}
.fansite-link-box p {width:250px; color:#b79855; margin:0 0 7px 0; line-height:1.25em; font-size:11px;}
.fansite-link-box .fansite-box-title {color:#e2c8a3; font-size:12px; line-height:36px; text-transform:uppercase;}
.fansite-link-box .fansite-group a { margin-right:10px;}