/* Classes Landing page */
.game-classes-index #content .content-top { background:url(/Templates/FreedomCore/images/game/class/bg-home-top.jpg) 0 0 no-repeat }
.game-classes-index #content .content-bot { padding:0 25px 80px 25px }

.section-title { margin: 25px 0; margin-top: 35px; }
.main-header-desc { margin: 0 0 50px 0; width: 50%; color: #a4704e }

.flag-card { width:459px; height:183px; margin-bottom:25px; box-shadow:0 0 6px #000; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; float:left;}
.flag-card .class-name { font-size:18px; display:block; padding-top:11px; margin-left:186px; }
.flag-card .class-type { color:#f0e29a; font-size:11px; line-height:13px; display:block; margin-left:186px; }
.flag-card .class-req { font-size:11px; line-height:12px; margin-left:186px;  }
.flag-card .class-req.wrath { color:#2588c0 }
.flag-card .class-desc { color:#b79855; font-size:11px; line-height:14px; display:block; margin:10px 25px 0 186px; }
.flag-card a:hover .class-type, .flag-card a:hover .class-desc { color:#fff }

.flag-card a { width:459px; height:183px; display:block; background:url(/Templates/FreedomCore/images/game/class/flag-cards.jpg) no-repeat;}
.flag-card.druid a { background-position:0 0; }
.flag-card.hunter a { background-position:-471px 0; }
.flag-card.mage a { background-position:0 -193px; }
.flag-card.paladin a { background-position:-471px -193px; }
.flag-card.priest a { background-position:0 -385px; }
.flag-card.rogue a { background-position:-471px -385px; }
.flag-card.shaman a { background-position:0 -575px; }
.flag-card.warlock a { background-position:-471px -575px; }
.flag-card.warrior a { background-position:0 -765px; }
.flag-card.death-knight a { background-position:-471px -765px; }
.flag-card.monk a { background-position:0 -1903px; }

.flag-card.druid a:hover  { background-position:0 -948px; }
.flag-card.hunter a:hover { background-position:-471px -948px; }
.flag-card.mage a:hover { background-position:0 -1141px; }
.flag-card.paladin a:hover { background-position:-471px -1141px; }
.flag-card.priest a:hover { background-position:0 -1333px; }
.flag-card.rogue a:hover { background-position:-471px -1333px; }
.flag-card.shaman a:hover { background-position:0 -1523px; }
.flag-card.warlock a:hover { background-position:-471px -1523px; }
.flag-card.warrior a:hover { background-position:0 -1713px; }
.flag-card.death-knight a:hover { background-position:-471px -1713px; }
.flag-card.monk a:hover { background-position:-471px -1903px; }

/* previous/next buttons */
.next-class { float:right; margin:26px 0 10px 0; }
.previous-class { float:left; margin: 26px 0 10px 0; text-transform:none; }
.next-class span, .previous-class span { text-transform:none; }

/* box adjust */
.basic-info-box-list { margin-top:52px }

/* Classes pages */
#content .content-top { background-repeat:no-repeat }
.class-death-knight #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-death-knight.jpg) }
.class-druid #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-druid.jpg) }
.class-hunter #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-hunter.jpg) }
.class-mage #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-mage.jpg) }
.class-paladin #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-paladin.jpg) }
.class-priest #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-priest.jpg) }
.class-rogue #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-rogue.jpg) }
.class-shaman #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-shaman.jpg) }
.class-warlock #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-warlock.jpg) }
.class-warrior #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-warrior.jpg) }
.class-monk #content .content-top { background-image:url(/Templates/FreedomCore/images/game/class/bg-monk.jpg) }


#content .content-bot .media-frame { float:right; margin:0 50px 35px 0 }
#content .content-bot .left-col { float:left; width:505px; padding-left:50px }
#content .content-bot .right-col { float:right; width:430px }
#content .content-bot #content-subheader { margin-left:50px; margin-top:0 }
#content .content-bot #content-subheader .class-parent { margin-top:63px; display:block; float:left }

.story-highlight { min-height:364px; padding-top:30px; color:#b79855; font:normal 16px/30px Arial, Sans-serif; width:320px }
.story-highlight p { margin:0 }
.story-main { width:500px }
.story-main p { font:normal 13px/23px Arial, Sans-serif; margin:0 0 22px 0 }
.story-main .story-illustration { width:501px; height:193px; margin-bottom:25px }

.story-main .story-illustration { background-repeat:no-repeat }
.class-death-knight .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-death-knight.jpg) }
.class-druid .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-druid.jpg) }
.class-hunter .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-hunter.jpg) }
.class-mage .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-mage.jpg) }
.class-mage .story-highlight p { width:380px }
.class-paladin .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-paladin.jpg) }
.class-priest .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-priest.jpg) }
.class-rogue .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-rogue.jpg) }
.class-shaman .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-shaman.jpg) }
.class-shaman .story-highlight p { width:380px }
.class-warlock .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-warlock.jpg) }
.class-warrior .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-warrior.jpg) }
.class-monk .story-main .story-illustration { background-image:url(/Templates/FreedomCore/images/game/class/story-thumb-monk.jpg) }

.class-info { background-color:#211309; width:500px; margin-bottom:47px }
.class-info .info-title { background:url(/Templates/FreedomCore/images/game/title-icons.gif) 30px 50% no-repeat; padding-left:61px; font:normal 16px/66px Arial, Sans-serif; color:#fff }
.class-info .info-desc { font:normal 12px/20px Arial, Sans-serif; color:#b79855; margin:0 30px 22px }

.tbd-box { width:343px; height:222px; background-color:#000; float:right; margin:0 50px 47px 0; font:bold 20px/222px Arial, Sans-serif; color:#fff; text-align:center }

.basic-info-box-list .basic-info-box-list-title span { background:url(/Templates/FreedomCore/images/game/class/classes-info-icons-sprite.gif) no-repeat; display:block; padding-left:59px }
#content .content-bot .right-col .basic-info-box-list { width:349px; float:right; margin:0 50px 47px 0 }
#content .content-bot .right-col .basic-info-box-list .fansite-group { margin-left:23px }

.basic-info .basic-info-box-list-title span { background-position:15px 4px }

/* talents */
.talent-info { margin-top:-6px !important; margin-bottom:80px }
.talent-info .basic-info-box-list-title span { background-position:16px -59px }
.talent-info .list-box p { border-bottom:1px solid #382714; padding-bottom:22px; margin-bottom:0 }
.talent-info .talent-info-wrapper { margin-top:-6px; margin-bottom:10px }
.talent-info .talent-header { padding:25px 0 30px 23px; color:#e9bd7f; font-size:14px; text-transform:uppercase; float:left; }
.talent-info .talent-wrapper { float:left; margin:0 5px 0 23px; text-align:center }
.talent-info .talent-wrapper .talent-block { height:67px; width:67px; background-repeat:no-repeat; background-position:50% 50%; display: block }
.talent-info .talent-wrapper .talent-block .circle-frame { background:url(/Templates/FreedomCore/images/game/talent-frame.png) no-repeat; display:block; height:67px; width:67px }
.talent-info .fansite-link { margin:25px 0 0 13px; float:left;}

.available-info-box .list-title { line-height:18px }
.available-info-box .list-title .list-faction { display:block; font-size:11px }
.available-info-box .list-title  div .list-faction { display:inline-block; font-size:11px }
.available-info-box li a:hover .list-faction { color:#FFF }

.basic-info  li { clear:both; padding:0 0 17px 17px !important; margin:0; width:440px !important; background:url(/Templates/FreedomCore/images/icons/bullet2.gif) no-repeat 2px 4px; font-size:12px }
.basic-info  li .basic-info-title { color:#b79855; display:block; text-transform:uppercase; font-size:11px }
.basic-info  ul { margin:0 }

/* expasion adjustment*/
.faction-req .req { margin-left:0 }

/* ie */
.ie .basic-info-box-list { zoom: 1 }