@charset "utf-8";

/* Free WoW for SC2 promo side banner */
.promo.promo-free-wow .free-trial {  background-image: url("/Templates/FreedomCore/images/sidebar/free-wow-for-sc2/en-gb.jpg") }

/*mists of pandaria*/
.pandaria #menu,
.pandaria-sub #menu,
.pandaria #menu li a:hover,
.pandaria-sub #menu li a:hover,
.pandaria-sub-media #menu li a:hover,
.pandaria #menu li a.menu-active,
.pandaria-sub #menu li a.menu-active,
.pandaria-sub-media #menu,
.pandaria-sub-media #menu li a.menu-active { background-image:url("/Templates/FreedomCore/images/game/mist-of-pandaria/locale/en-gb/bg-navi.jpg") }

/* MoP CE */
.collectors-edition #content .content-top { background: url("/Templates/FreedomCore/images/shop/collectors-edition/bg-top-pegi.jpg") no-repeat 0 0; }

/* MoP Digital Deluxe */
#mop-digital-deluxe .pre-purchase-header { background: url("/Templates/FreedomCore/images/mop/digital-deluxe-header-bg-en-gb.jpg") no-repeat; }

/* VAS Pages */
.race-change .button-apply .price,
.faction-change .button-apply .price,
.character-transfer .button-apply .price { font-size: 15px; width: 100%; text-align: center; font-weight: bold; line-height: 15px; margin-top: -6px; }
.faction-change .button-apply .price del,
.race-change .button-apply .price del,
.character-transfer .button-apply .price del { color: #ffdc8c; font-size: 10px; font-weight: normal; }
.faction-change .button-apply .no-promo,
.race-change .button-apply .no-promo,
.character-transfer .button-apply .no-promo { font-size: 13px; font-weight: normal; line-height: 15px; margin-top: -6px; }