body.item-index #content .content-top { background: url(/Templates/FreedomCore/images/wiki/item/index-bg.jpg) 0 0 no-repeat; }
#content .content-top { background: url(/Templates/FreedomCore/images/wiki/item/page-bg.jpg) 0 0 no-repeat; }
#wiki.wiki-item { padding-bottom: 0; }

.wiki .info .title { margin-bottom: 15px; }
.wiki .info .title h2 { font-size: 42px; }
.wiki .directory { padding: 0; }
.wiki .directory .title { margin: 25px; }


/* article data */
.article-image-upload { padding-left: 30px; color: #fff; width: 310px; position: relative; }

/* item detail */
.item-detail { padding-left: 80px; color: #fff; width: 310px; position: relative; }
.item-detail .frame-56 { position: absolute; overflow: hidden; left: 0; top: 5px; }
.item-detail .item-specs { padding-top: 1px; }
.item-detail .faction-related { position: absolute; left: 5px; top: 85px; background: #000; padding: 5px; height: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.item-detail .stack { display: block; padding: 35px 3px 0 0; text-align: right; font-size: 16px; font-weight: bold; text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px; }

/* item browse */
.item-results em { color: #EFC9A0; font-style: normal; }

.icon-frame.frame-56.shop {
    height: 56px;
    width: 56px;
    -moz-box-shadow: #000 0 0 10px;
    -webkit-box-shadow: #000 0 0 10px;
    box-shadow: #000 0 0 10px;
    margin-left: 10px;
}

/* item quality */
.color-q0, .color-q0 a { color: #9d9d9d !important; } /* poor (gray) */
.color-q1, .color-q1 a { color: #ffffff !important; } /* common (white) */
.color-q2, .color-q2 a { color: #1eff00 !important; } /* uncommon (green) */
.color-q3, .color-q3 a { color: #0081ff !important; } /* #0070dd rare (blue) */
.color-q4, .color-q4 a { color: #c600ff !important; } /* #a335ee epic (purple) */
.color-q5, .color-q5 a { color: #ff8000 !important; } /* lengendary (orange) */
.color-q6, .color-q6 a { color: #e5cc80 !important; } /* artifact (gold) */
.color-q7, .color-q7 a { color: #e5cc80 !important; } /* heirloom (gold) */