body.item-index #content .content-top { background: url(/Templates/FreedomCore/images/wiki/item/index-bg.jpg) 0 0 no-repeat; }
#content .content-top { background: url(/Templates/FreedomCore/images/wiki/item/page-bg.jpg) 0 0 no-repeat; }
#wiki.wiki-item { padding-bottom: 0; }

.wiki .info .title { margin-bottom: 15px; }
.wiki .info .title h2 { font-size: 42px; }
.wiki .directory { padding: 0; }
.wiki .directory .title { margin: 25px; }

/* item detail */
.item-detail { padding-left: 80px; color: #fff; width: 310px; position: relative; }
.item-detail .frame-56 { position: absolute; overflow: hidden; left: 0; top: 5px; }
.item-detail .item-specs { padding-top: 1px; }
.item-detail .faction-related { position: absolute; left: 5px; top: 85px; background: #000; padding: 5px; height: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.item-detail .stack { display: block; padding: 35px 3px 0 0; text-align: right; font-size: 16px; font-weight: bold; text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px; }

/* item browse */
.item-results em { color: #EFC9A0; font-style: normal; }