
#content .content-top { background: url(/Templates/FreedomCore/images/wiki/zone/index-bg.jpg) 0 0 no-repeat; }

/* portrait */
.boss-portrait { display: block; overflow: hidden; width: 58px; height: 58px; margin: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; background-color: #3b1c11; background-position: 0 0; }
a:hover .boss-portrait { border: 1px solid #cd9000; margin: 0; }

/* bosses box */
.zone-bosses .boss-column-text { padding-top: 25px; float: left; width: 50%; }
.zone-bosses .boss-column-text ul { line-height: 1.8em; }
.zone-bosses .boss-column-text a { display: block; }
.zone-bosses .boss-column-portrait { float: left; padding-top: 25px; }
.zone-bosses .wing-name { display: block; padding-bottom: 2px; color: #98542D; font-size: 16px; font-weight: normal; }
.zone-bosses .boss-avatar { margin-top: 12px; position: relative; }
.zone-bosses .boss-avatar:first-child { margin-top: 0; }
.zone-bosses .boss-avatar a { display: block; width: 170px; min-height: 60px; margin-right: 10px; padding: 0 15px 0 70px;  }
.zone-bosses .boss-avatar a .boss-portrait { position: absolute; left: 0; top: 0; }
.zone-bosses .boss-avatar a .side-icons span { margin-left: 0; }
.zone-bosses .boss-avatar a .side-icons,
.zone-bosses .boss-avatar a .boss-name,
.zone-bosses .boss-avatar a .boss-details { padding-top: 5px; }
.zone-bosses .boss-avatar a .boss-meta { color: #967648; }
.zone-bosses .boss-avatar a:hover { background: #180c04; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* Challenge Mode */
.challenge-mode {margin: 36px 0 0 5px; display: inline-block; background: url(/Templates/FreedomCore/images/icons/sandglass.png) 0 4px no-repeat; padding-left: 20px;}
.challenge-mode:hover {background-position: 0 -49px;}
.challenge-mode span {display: inline-block; background: url(/Templates/FreedomCore/images/icons/more-arrows.gif) 100% 7px no-repeat; padding-right: 11px; line-height: 25px;}
.challenge-mode:hover span {background-position: 100% -40px;}

/* directory */
.zone-index .wiki .title h2 { max-width: 450px; }
.wiki.directory .groups .group .group-column ul { border-top: 1px solid #432615; background: url(/Templates/FreedomCore/images/wiki/directory-separator.png) -1px top no-repeat; }
.wiki.directory .groups .group .group-column.scenario ul:first-child { background-image: none; }
.wiki.directory .groups .group .group-column:first-child ul { background-image: none; }
.wiki.directory .groups .group .name { display: block; line-height: 24px; }
.wiki.directory .groups .group .patch { display: block; font-size: 11px; line-height: 10px; color: #98542D; }
.wiki.directory .groups .group .level-range { color: #71401F; font-style: normal; font-size: 10px; margin-top: 2px; float: right; white-space: nowrap; }
.wiki.directory .groups .group .zone-thumbnail { float: left; display: block; overflow: hidden; width: 38px; height: 38px; margin: 1px 11px 1px 1px;
	background-color: #3b1c11; background-image: url(/Templates/FreedomCore/images/wiki/zone/thumbnails.png); background-repeat: no-repeat;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; }
.wiki.directory .groups .group a:hover .zone-thumbnail { border: 1px solid #cd9000; margin: 0 10px 0 0; }
.wiki.directory .groups .group .icon-faction-0,
.wiki.directory .groups .group .icon-faction-1 { margin-top: -3px; }
.wiki-tooltip .zone-thumbnail { background-image: url(/Templates/FreedomCore/images/wiki/zone/thumbnails.png);}

/* floors */
#map-floors { width: 265px; height: 177px; }

/* thumbnails */
.thumb-ahnkahet-the-old-kingdom { background-position: -960px 0; }
.thumb-ahnqiraj-temple { background-position: -2040px 0; }
.thumb-auchenai-crypts { background-position: -760px 0; }
.thumb-azjolnerub { background-position: -1000px 0; }
.thumb-baradin-hold { background-position: -2800px 0; }
.thumb-blackfathom-deeps { background-position: 0 0; }
.thumb-blackrock-caverns { background-position: -1600px 0; }
.thumb-blackrock-depths { background-position: -40px 0; }
.thumb-blackrock-spire { background-position: -80px 0; }
.thumb-black-temple { background-position: -2360px 0; }
.thumb-blackwing-descent { background-position: -2880px 0; }
.thumb-blackwing-lair { background-position: -1960px 0; }
.thumb-deadmines { background-position: -120px 0; }
.thumb-dire-maul { background-position: -160px 0; }
.thumb-draktharon-keep { background-position: -1080px 0; }
.thumb-firelands { background-position: -2960px 0; }
.thumb-gnomeregan { background-position: -200px 0; }
.thumb-grim-batol { background-position: -1640px 0; }
.thumb-gruuls-lair { background-position: -2120px 0; }
.thumb-gundrak { background-position: -1160px 0; }
.thumb-halls-of-lightning { background-position: -1200px 0; }
.thumb-halls-of-origination { background-position: -1680px 0; }
.thumb-halls-of-reflection { background-position: -1240px 0; }
.thumb-halls-of-stone { background-position: -1280px 0; }
.thumb-hellfire-ramparts { background-position: -840px 0; }
.thumb-icecrown-citadel { background-position: -2720px 0; }
.thumb-karazhan { background-position: -2080px 0; }
.thumb-lost-city-of-the-tolvir { background-position: -1720px 0; }
.thumb-magisters-terrace { background-position: -880px 0; }
.thumb-magtheridons-lair { background-position: -2160px 0; }
.thumb-manatombs { background-position: -760px 0; }
.thumb-maraudon { background-position: -240px 0; }
.thumb-molten-core { background-position: -1920px 0; }
.thumb-naxxramas { background-position: -2440px 0; }
.thumb-onyxias-lair { background-position: -2680px 0; }
.thumb-opening-of-the-dark-portal { background-position: -800px 0; }
.thumb-pit-of-saron { background-position: -1400px 0; }
.thumb-ragefire-chasm { background-position: -280px 0; }
.thumb-razorfen-downs { background-position: -320px 0; }
.thumb-razorfen-kraul { background-position: -360px 0; }
.thumb-ruins-of-ahnqiraj { background-position: -2000px 0; }
.thumb-scarlet-monastery { background-position: -3280px 0; }
.thumb-scholomance { background-position: -3320px 0; }
.thumb-serpentshrine-cavern { background-position: -2240px 0; }
.thumb-sethekk-halls { background-position: -760px 0; }
.thumb-shadowfang-keep { background-position: -480px 0; }
.thumb-shadow-labyrinth { background-position: -760px 0; }
.thumb-stormwind-stockade { background-position: -520px 0; }
.thumb-stratholme { background-position: -560px 0; }
.thumb-sunken-temple { background-position: -600px 0; }
.thumb-tempest-keep { background-position: -2280px 0; }
.thumb-the-arcatraz { background-position: -2280px 0; }
.thumb-the-bastion-of-twilight { background-position: -2840px 0; }
.thumb-the-battle-for-mount-hyjal { background-position: -2320px 0; }
.thumb-the-blood-furnace { background-position: -840px 0; }
.thumb-the-botanica { background-position: -2280px 0; }
.thumb-the-culling-of-stratholme { background-position: -1040px 0; }
.thumb-the-escape-from-durnholde { background-position: -800px 0; }
.thumb-the-eye-of-eternity { background-position: -2560px 0; }
.thumb-the-forge-of-souls { background-position: -1120px 0; }
.thumb-the-mechanar { background-position: -2280px 0; }
.thumb-the-nexus { background-position: -1320px 0; }
.thumb-the-obsidian-sanctum { background-position: -2480px 0; }
.thumb-the-oculus { background-position: -1360px 0; }
.thumb-the-ruby-sanctum { background-position: -2760px 0; }
.thumb-the-shattered-halls { background-position: -840px 0; }
.thumb-the-slave-pens { background-position: -2240px 0; }
.thumb-the-steamvault { background-position: -2240px 0; }
.thumb-the-stonecore { background-position: -1760px 0; }
.thumb-the-sunwell { background-position: -2400px 0; }
.thumb-the-underbog { background-position: -2240px 0; }
.thumb-the-vortex-pinnacle { background-position: -1840px 0; }
.thumb-throne-of-the-four-winds { background-position: -2920px 0; }
.thumb-throne-of-the-tides { background-position: -1800px 0; }
.thumb-trial-of-the-champion { background-position: -1440px 0; }
.thumb-trial-of-the-crusader { background-position: -2640px 0; }
.thumb-uldaman { background-position: -620px 0; }
.thumb-ulduar { background-position: -2600px 0; }
.thumb-utgarde-keep { background-position: -1480px 0; }
.thumb-utgarde-pinnacle { background-position: -1520px 0; }
.thumb-vault-of-archavon { background-position: -2520px 0; }
.thumb-violet-hold { background-position: -1560px 0; }
.thumb-wailing-caverns { background-position: -680px 0; }
.thumb-zulaman { background-position: -920px 0; }
.thumb-zulfarrak { background-position: -720px 0; }
.thumb-zulgurub { background-position: -1880px 0; }
.thumb-well-of-eternity { background-position: -3040px 0; }
.thumb-end-time { background-position:-3120px 0 }
.thumb-dragon-soul { background-position:-3000px 0 }
.thumb-hour-of-twilight { background-position:-3080px 0 }
.thumb-gate-of-the-setting-sun { background-position:-3160px 0 }
.thumb-mogushan-palace { background-position:-3200px 0 }
.thumb-scarlet-halls { background-position:-3240px 0 }
.thumb-shadopan-monastery { background-position:-3360px 0 }
.thumb-siege-of-niuzao-temple { background-position:-3400px 0 }
.thumb-stormstout-brewery { background-position:-3440px 0 }
.thumb-temple-of-the-jade-serpent { background-position:-3480px 0 }
.thumb-heart-of-fear { background-position:-3520px 0 }
.thumb-mogushan-vaults { background-position:-3560px 0 }
.thumb-terrace-of-endless-spring { background-position:-3600px 0 }
.thumb-arena-of-annihilation { background-position:-3640px 0 }
.thumb-assault-on-zanvess { background-position:-3680px 0 }
.thumb-unga-ingoo { background-position:-3720px 0 }
.thumb-a-brewing-storm { background-position:-3760px 0 }
.thumb-theramores-fall-alliance { background-position:-3800px 0 }
.thumb-theramores-fall-horde { background-position:-3840px 0 }
.thumb-crypt-of-forgotten-kings { background-position:-3880px 0 }
.thumb-brewmoon-festival { background-position:-3920px 0 }
.thumb-greenstone-village { background-position:-3960px 0 }
.thumb-dagger-in-the-dark { background-position:-4000px 0 }
.thumb-a-little-patience { background-position:-4040px 0 }
.thumb-domination-point { background-position:-4080px 0 }
.thumb-lions-landing { background-position:-4120px 0 }
.thumb-throne-of-thunder { background-position:-4160px 0 }
.thumb-battle-on-the-high-seas-horde { background-position:-4200px 0 }
.thumb-battle-on-the-high-seas-alliance { background-position:-4240px 0 }
.thumb-blood-in-the-snow { background-position:-4280px 0 }
.thumb-the-secrets-of-ragefire { background-position:-4320px 0 }
.thumb-dark-heart-of-pandaria { background-position:-4360px 0 }
.thumb-siege-of-orgrimmar { background-position:-4400px 0 }

.thumb-auchindoun { background-position: -4440px 0; }
.thumb-bloodmaul-slag-mines { background-position: -4480px 0; }
.thumb-grimrail-depot { background-position: -4520px 0; }
.thumb-iron-docks { background-position: -4560px 0; }
.thumb-shadowmoon-burial-grounds { background-position: -4600px 0; }
.thumb-skyreach { background-position: -4640px 0; }
.thumb-the-everbloom { background-position: -4680px 0; }
.thumb-upper-blackrock-spire { background-position: -4720px 0; }
.thumb-highmaul { background-position: -4760px 0; }
.thumb-blackrock-foundry { background-position: -4800px 0; }


/* ie */
.ie6 .wiki.directory .groups .group .name { float: left; }
.ie6 .challenge-mode { background: url(/Templates/FreedomCore/images/icons/sandglass.gif) 0 4px no-repeat; }