.forums-home #content .content-top { background: url(/Templates/FreedomCore/images/layout/cms/bt-lite-bg.jpg) no-repeat; padding-top: 0; }
.forums-home .blizzard-posts .mask-wrapper .mask-edge.mask-left { background-position: 0 -58px; }
.forums-home .blizzard-posts .mask-wrapper .mask-edge.mask-right { background-position: right -58px; }
.forums-home .blizzard-posts { position:relative; }
.forums-home .blizzard-posts .paging-arrow { height:67px; top:50%; margin-top: -20px; background-image: url(/Templates/FreedomCore/images/layout/cms/bt_lite_ctrl.gif); }
.forums-home .blizzard-posts .mask-wrapper .mask .holder .set .tracked-blizzard-post { height:193px; }
.forums-home .blizzard-posts .tracked-blizzard-post .desc { padding:50px 24px 0; }
.forums-home .blizzard-posts .tracked-blizzard-post .info { left:21px; }
.forums-home .blizzard-posts .header-2 { height:auto; color:#f0e29a; font-size:12px; padding-left:45px; }

.forums-home .forum-group { width:auto; margin:15px 20px 15px 25px; }
.forums-home .forum-group .group-header { color:#71330e; margin:0; padding:0 0 0 20px; font:20px arial; line-height:41px; letter-spacing: -0.05em; background:url('/Templates/FreedomCore/images/layout/cms/collapse-expand.png') no-repeat 0 1px;  }
.forums-home .forum-group .group-header.collapsed { background-position:0 -39px;  }
.forums-home .forum-group .group-header:hover { background-position:0 -79px;  }
.forums-home .forum-group .group-header.collapsed:hover { background-position:0 -119px;  }
.forums-home .forum-group .child-forums { padding:0; background:none; }
.forums-home .full-column .forum-group li,
.forums-home .full-column .forum-group .forum-link { width: 310px; }

.forums-home .station-content-wrapper, #station-content .station-inner-wrapper { padding:0; }
.forums-home .left-column { width:645px; }
.forums-home .right-column { width:285px; padding:30px; }
.forums-home .right-column .title-forums { font-size:14px; font-family: "Lucida Sans Unicode", arial; color:#f0e29a; text-transform:uppercase; border-bottom: solid 1px #552b12; margin:0; padding-bottom:6px; background:none; }
.forums-home .code-of-conduct { margin: 0; font-size: 11px; color: #71401F; font-style: italic; background: url("/Templates/FreedomCore/images/layout/cms/code_bg.png"); margin-top: 10px; }

.tracked-blizzard-post .desc { color:#004e8a; }
.tracked-blizzard-post .info { color:#613916; }
.tracked-blizzard-post .info .char { color:#000; }

/* Remove tiling bg. The following 3 rules are for the repeating BG, bottom, and top images (respectively) */
/*#station-content { 	padding: 0;	background: url('/Templates/FreedomCore/images/forum/index.jpg') repeat-y 0 0; }
#station-content .station-content-wrapper {	background: url('/Templates/FreedomCore/images/community/bg-community-body3.jpg') no-repeat 0 100%;  }
#station-content .station-inner-wrapper { padding: 0; background: url('/Templates/FreedomCore/images/layout/cms/bg-forum.jpg') no-repeat 0 0;  }*/

#station-content { padding: 0; }
#station-content .station-content-wrapper { background: url('/Templates/FreedomCore/images/community/bg-index.jpg') no-repeat 0 0; }
.forum-list-interior { padding: 10px 0; }

.forum-link { background-color: rgba(0, 0, 0, 0.25); color:#fab000; border-radius:6px; }
.forum-link .forum-desc { color:#d3ac6b; }
.forum-link:hover { background-color: rgba(0, 0, 0, 0.35); }
.forum-link:hover span { color:#fff; }

.forums-home .forum-group .child-forum { height: 106px; }
.forums-home .forum-group .forum-link { height: 106px; }
.forums-home .forum-group .child-forum-compact { height: 57px; }
.forums-home .forum-group .child-forum-compact .forum-link { height: 57px; }
.forums-home .forum-group .child-forum-compact .forum-title { position: relative; top: 8px; }