/* topic header */
.view-topic .topic-header-wrapper { padding:20px }
.view-topic .topic-header-wrapper .subheader-2 { font-size:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis }
.ie67 .view-topic .topic-header-wrapper .subheader-2 { width:900px; overflow:hidden }
.view-topic .topic-header-wrapper .subheader-2 span { color: #F3E6D0}
.view-topic .topic-header-wrapper .topic-status { color:#A99877; }

/* topic paging, reply button */
.view-topic .forum-actions .reply-button-wrapper { float:left }

.view-topic .forum-actions .forum-permission-error { float:left; max-width:600px }
.view-topic .forum-actions .forum-permission-error a { display:block }
.view-topic .forum-actions .forum-permission-error a:after { content:" "; display:inline-block; width:10px; height:11px; position:relative; top:1px; left:5px; background: url("/Templates/FreedomCore/images/icons/flyout-arrows.gif") -3px -122px no-repeat; }
.view-topic .forum-actions .forum-permission-error a:hover:after { background-position:-3px -176px; }

.view-topic .bottom-reply-wrapper { padding:20px; }

/* add reply, paging */
.view-topic .forum-actions { padding:0 20px 20px }
.view-topic .forum-actions .actions-right { float:right }
.view-topic .forum-actions-bottom { padding:20px; height:25px; background:none; }
.view-topic .forum-actions-bottom .ui-breadcrumb { margin-top: 6px; }

/* blizzard post link */
.view-topic .next-blizz-post { float:right; display:block; height: 27px; width: 48px; background: url("/Templates/FreedomCore/images/layout/cms/next_blizz.gif") 0 0 repeat; margin-left:10px }
.view-topic .next-blizz-post:hover { background-position:0 -30px;  }

/* request sticky */
.view-topic .request-sticky { float:right; margin-top:-3px }

/* shared preview post and post display */
.view-topic .post-detail { padding:25px 0 10px; word-wrap:break-word; line-height:1.7em; overflow:hidden; font-size:14px; width:550px  }
.view-topic.ko-kr .post-detail { font-size:12px }
.view-topic .post-detail ul { display:block; list-style-position: outside; padding:0; margin:0 }
.view-topic .post-detail > ul { padding-left:20px }
.view-topic .post-detail li { display: list-item; list-style-position: outside; margin-left:15px; padding-left:5px; list-style-type: disc; text-align: left; }
.view-topic .post-detail li ul { padding-left:20px }
.view-topic .post-detail li + ul { padding-left:40px }
.view-topic .post-detail code,
.view-topic .post-detail pre { border:1px solid #4E3E25; background-color: #100F0D; margin:5px 0; max-height:1000px; white-space:pre; display:block; border-radius:5px; padding:10px; overflow:auto }
.view-topic .post-detail .underline { border-bottom: 1px solid #A99877 }
.view-topic .post-detail b,
.view-topic .post-detail strong { font-weight:bold }

/* blizzard-specific styles for a post */
.view-topic .blizzard .post-detail { color: #00B4FF }
.view-topic .blizzard .post-detail b,
.view-topic .blizzard .post-detail strong { color:#FFF }
.view-topic .blizzard .post-detail .underline { border-bottom:1px solid #00B4FF }
.view-topic .blizzard .post-detail strong .underline,
.view-topic .blizzard .post-detail .underline strong { border-bottom:1px solid #FFF }
.view-topic .blizzard .post-detail blockquote { border-color: #002555; color: #00B4FF; }

/* mvp-specific styles for a post */
.view-topic .mvp .post-detail { color: #81B558 }
.view-topic .mvp .post-detail .underline { border-bottom:1px solid #81B558 }
.view-topic .mvp .post-detail strong .underline,
.view-topic .mvp .post-detail .underline strong { border-bottom:1px solid #81B558 }
.view-topic .mvp .post-detail blockquote { border-color: #63913E; color: #81B558; }

/* quoting posts */
.view-topic .post-detail blockquote { border: 1px solid #4E3E25; border-bottom-width:3px; margin: 0 0 5px 25px; padding: 10px; border-radius: 5px; }
.view-topic .post-detail blockquote > ul { padding-left:20px }
.view-topic .post-detail blockquote div { padding-bottom: 5px; margin-bottom: 5px; }
.view-topic .post-detail blockquote .bml-quote-date { float: right; font-size: 11px; }

.view-topic .post-detail blockquote.quote-public { border-color: #4E3E25 !important; color:#A99877 !important }
.view-topic .post-detail blockquote.quote-public strong { color:#A99877 }
.view-topic .post-detail blockquote.quote-public strong .underline,
.view-topic .post-detail blockquote.quote-public .underline strong { border-bottom:1px solid #A99877 }
.view-topic .post-detail blockquote.quote-public blockquote { color:#A99877;  border-color: #4E3E25 }

.view-topic .post-detail blockquote.quote-blizzard { border-color: #002555 !important; color: #00B4FF !important }
.view-topic .post-detail blockquote.quote-blizzard strong { color:#00B4FF }
.view-topic .post-detail blockquote.quote-blizzard strong .underline,
.view-topic .post-detail blockquote.quote-blizzard .underline strong { border-bottom:1px solid #00B4FF }

.view-topic .post-detail blockquote.quote-mvp { border-color: #63913E !important; border-bottom-color: #6FA247 !important; color: #81B558 !important }
.view-topic .post-detail blockquote.quote-mvp .underline { border-color:#81B558 }
.view-topic .post-detail blockquote.quote-mvp strong { color:#81B558 }
.view-topic .post-detail blockquote.quote-mvp strong .underline,
.view-topic .post-detail blockquote.quote-mvp .underline strong { border-bottom:1px solid #81B558 }


/* posts */
.post-list .topic-post { background:url(/Templates/FreedomCore/images/layout/cms/post_bg.jpg) 50% 0 no-repeat }
.post-list .topic-post.blizzard { background-image:url(/Templates/FreedomCore/images/layout/cms/post_bg_blizzard.jpg) }
.post-list .topic-post table { width: 100% }
.post-list .topic-post td { vertical-align:top }
.post-list .topic-post .post-character { width: 261px; }
.ie67 .post-list,
.ie67 .post-list .topic-post,
.ie67 .post-list .topic-post .post-character { zoom:1 }

.post-list .topic-post .post-edited { color:#5F584D }

.post-list .topic-post .post-info { width:121px;  }
.post-list .topic-post .post-info .post-info-wrapper { font-size: 10px; text-align: right; padding: 18px 19px 0 0;}
.cjk .post-list .topic-post .post-info .post-info-wrapper { font-size:12px }
.ie6 .post-list .topic-post .post-info .post-info-wrapper { zoom:1 }
.post-list .topic-post .post-info .post-info-wrapper .post-index { padding-right:6px; float:right; max-width:30px }
.post-list .topic-post .post-info .post-info-wrapper .date { color:#5F584D; cursor:default; line-height:2em }
.post-list .topic-post .post-info .post-info-wrapper .next-blizz-post { margin-top:5px;}
.post-list .topic-post .post-options { text-align:right; padding:0 20px 10px; height:30px; visibility:hidden }
.post-list .topic-post:hover .post-options { visibility: visible }
.ie67 .post-list .topic-post .post-options { visibility:visible; }
.post-list .topic-post .post-info .post-info-wrapper .post-rating { color: #f3e6d0; margin-bottom: auto; }

/* hidden post */
.post-list .topic-post.hidden { background-image:url(/Templates/FreedomCore/images/layout/cms/post_bg.jpg); }
.post-list .topic-post .hidden-post-wrapper { display:none }
.post-list .topic-post.hidden .hidden-post-wrapper { display:block }
.post-list .topic-post.hidden .hidden-post-wrapper .forum-user { padding-top:27px }
.post-list .topic-post.hidden .hidden-post-wrapper .post-detail { padding-bottom:25px }
.post-list .topic-post.hidden .hidden-post-wrapper .post-detail .hidden-reveal { padding-left:10px }
.post-list .topic-post.hidden .post-interior { display:none }

.post-list .topic-post.high-rated { background-color:#381D0A; background-image:url("/Templates/FreedomCore/images/layout/cms/post_bg_rated_high.jpg") }

/* post avatar */
.forum-user { padding: 28px 0 0 20px }
.forum-user .forum-avatar { overflow: hidden; padding: 1px; background-color: black; background-position: 1px 1px; background-repeat: no-repeat; float:left;
    border: 1px solid #483A30; border-bottom-color: #3D2F26; border-top-color: #887465; border-radius: 3px; width: 64px;height: 64px; }
.forum-user .forum-avatar .avatar-outer a { display:block;width: 64px; height:64px; overflow:hidden }
.forum-user .user-details { float:left; padding-left:10px; width:163px; position:relative }
.forum-user .user-details .context-link { display:inline-block; font-size:13px }
.forum-user .user-details .context-link .poster-name { display:inline-block; max-width:140px; overflow:hidden; text-overflow:ellipsis; }
.ie67 .forum-user { zoom:1 }
.ie67 .forum-user .user-details { zoom:1 }
.forum-user .user-details .forum-title { font-size:11px }
.forum-user .user-details .character-desc,
.forum-user .user-details .guild { font-size:11px }
.forum-user .user-details .achievements { font-size:10px }
.forum-user .user-details .achievements:after { content:" "; display:inline-block; background:url("/Templates/FreedomCore/images/icons/achievements.gif") 0 0 no-repeat; width:8px; height:10px; position:relative; top:2px; left:3px }
.forum-user .user-details .view-d3-profile { color: #95856A; font-size: 11px; margin-top: 5px; font-weight:bold }
.cjk .forum-user .user-details .view-d3-profile { font-size:12px; font-weight:normal }
.forum-user .user-details .view-d3-profile:hover { color:#FFF }


/* quote/reply */
.post-list .topic-post .button2 .icon-quote { padding:0; background:url("/Templates/FreedomCore/images/layout/cms/quote_icon.gif") 0 0 no-repeat; text-indent: -9999px; display:inline-block; font-size:1px; height:12px; width:12px; margin:0; /*position:relative; top:6px;*/ vertical-align:middle }
.post-list .topic-post .button2:hover .icon-quote { background-position:-24px 0 }

.ie67 .post-list .topic-post .button2 .icon-quote { display:block; position:relative; top:9px }

/* new post */
.view-topic .posting-status-message { text-align:center; padding:25px 0 }

/* report violation notice */
.report-violation { padding: 0 30px 50px 30px; font-size:11px }
.report-violation .report-violation-inner { background:url("/Templates/FreedomCore/images/layout/cms/code_bg.png"); padding:20px 15px }
.report-violation .report-violation-icon { float:left; background: url("/Templates/FreedomCore/images/layout/cms/alert_img.png") 0 0 no-repeat; width:63px; height:63px }
.report-violation .report-violation-details { float:left; width:600px; padding-left:20px }
.report-violation .report-violation-details .subheader-3 {color:#F3E6D0; font-size:18px }
.report-violation .report-violation-details p { line-height:2em }
.report-violation strong { color: #feba02; font-weight:normal }

/* report post */
.post-list .report-post { padding:20px; background:url(/Templates/FreedomCore/images/layout/cms/post_bg.jpg) 50% 0 no-repeat }

/* reporte post */
.post-list .post-reported-icon { display:block; float:right; width:21px; height:17px; background:url("/Templates/FreedomCore/images/layout/cms/alert_icon.png") 0 0 no-repeat }

/* reply form */
.topic-form { padding:30px 0; background:#1a0f08 url(/Templates/FreedomCore/images/layout/cms/reply_bg.jpg) no-repeat }
.topic-form .form-left-col { float:left }
.topic-form .form-left-col .form-title { padding-left:22px }
.topic-form .form-left-col .header-3 { font-size:18px }
.topic-form .topic-form-wrapper { width:600px; float:left }
.topic-form .topic-form-controls { float:right; margin-top:-8px }
.topic-form .topic-form-controls .control-button { font-size:14px; color:#ffb100; background-color:#681c07; border-radius:5px; float:right; display:block; margin-left:5px; height:34px; line-height:34px; width:93px; position:relative; text-align:center }
.ru-ru .topic-form .topic-form-controls .control-button { width:130px }
.topic-form .topic-form-controls .control-button.selected, .topic-form .topic-form-controls .control-button.selected:hover { background-color:#270b07; cursor:default; color:#FFF }
.topic-form .topic-form-controls .control-button:hover { background-color:#802309; color:#FFF }
.topic-form .topic-form-wrapper .post-editor { background-color:#f1ebd7; border:0; width:585px; height:210px; padding:5px 7px; border-radius:5px; font-family:sans-serif }
.topic-form .topic-form-wrapper .post-subject { font-size:18px; height:24px; border:0; width:585px; padding:5px 7px; border-radius:5px; font-family:sans-serif; margin-bottom:5px }
.topic-form .topic-form-wrapper .submit-post { margin-top:15px }
.topic-form .mvp-title { color: #81B558 }

.topic-form .forum-permission-error { width:600px; text-align:center; padding-top:54px; height:150px }
.topic-form .forum-permission-error a { display:block }
.topic-form .forum-permission-error a:after { content:" "; display:inline-block; width:10px; height:11px; position:relative; top:1px; left:5px; background: url("/Templates/FreedomCore/images/icons/flyout-arrows.gif") -3px -122px no-repeat; }
.topic-form .forum-permission-error a:hover:after { background-position:-3px -176px; }

/* bml */
.bml-toolbar button { background: url("/Templates/FreedomCore/images/icons/bml.gif"); }

/* preview post */
.view-topic #post-preview { display:none }

/* create topic */
.create-topic .bml-toolbar { height:31px }
.create-topic .forum-user { padding-top:8px }
.create-topic .topic-form .forum-permission-error { padding-top:40px }

/* post errors */
#post-errors { color:#F00; float:left; width:600px }
#post-errors ul { list-style-type:disc; margin:0 0 10px 20px }
#post-errors li { padding:2px 0 }

.report-post { display: none; }
