/* view forum */
.view-forum .forum-topics { width:994px; border-collapse:separate }
.view-forum .forum-topics th { font-size:11px; font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana; font-weight:normal; color:#775e3a;  text-align:left; text-transform:uppercase; padding-bottom:5px }
.view-forum .forum-topics th,
.view-forum .forum-topics td { border-bottom: 1px solid #261913; }

.view-forum .forum-topics tbody tr:hover { background-color: #261307; }
.view-forum .forum-topics td { height: 41px; }

.view-forum .forum-topics .featured-topic .topic-title .status-text,
.view-forum .forum-topics .stickied-topic .topic-title .status-text { color:#f4dbac; }

.view-forum .forum-topics .subject-column { width:503px }
.view-forum .forum-topics .icon-cell { width:65px }
.view-forum .forum-topics .icon-cell .topic-icon-wrapper { display:block; width:35px; height:42px; padding-left:20px; position:relative }
.view-forum .forum-topics .icon-cell .topic-icon { position:absolute; z-index:1; top:5px; display:block; width:39px; height:27px; background: url("/Templates/FreedomCore/images/layout/cms/forum_landing.png") 0 0 no-repeat; }
.view-forum .forum-topics .icon-cell .employee-icon { position:absolute; z-index:2; top:20px; left:12px }

.view-forum .forum-topics .topic-title { display:block; height:41px; line-height:41px; max-width: none; overflow: visible; }
.view-forum .forum-topics .topic-title span:last-child { max-width: 360px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; float: left; }
.ie .view-forum .forum-topics .title-cell { zoom:1 }
.ie .view-forum .forum-topics .topic-title { width:300px; zoom:1; overflow:hidden; white-space:nowrap; display:block }
.view-forum .forum-topics .topic-title .status-text { color:#A99877; font-size:11px; padding-right:7px; display:block; float:left; line-height:41px }
.view-forum .forum-topics .topic-title:hover .status-text { color:#FFF }

.view-forum .forum-topics .locked .topic-title:after { display:inline-block; content:" "; position:relative; top:2px; left:3px; width:12px; height:13px; background: url("/Templates/FreedomCore/images/layout/cms/forum_landing.png") -78px -5px no-repeat; }
.view-forum .forum-topics .locked .topic-title:hover:after { opacity:0.8 }

.view-forum .forum-topics .author-cell { width:120px }
.view-forum .forum-topics .author-cell .author-wrapper { display:block; white-space:nowrap; height:41px; width:120px; text-overflow:ellipsis; overflow:hidden }
.view-forum .forum-topics .author-cell .author-wrapper .author-name { display:block; float:left; height:41px; line-height:41px; width:120px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden }
.view-forum .forum-topics .author-cell .author-wrapper .author-name.blizzard-post { color:#FFF; width:auto; max-width:96px; text-overflow:ellipsis; overflow:hidden }
.view-forum .forum-topics .author-cell .author-wrapper .author-name.mvp-author { color: #81B558 }
.view-forum .forum-topics .author-cell .author-wrapper .employee-icon { float:left; margin:14px 0 0 4px }

.view-forum .forum-topics .last-poster-column { text-align:right; padding-right:20px }
.view-forum .forum-topics .last-post-cell { width:184px; padding-right:10px }
.view-forum .forum-topics .last-post-cell .last-post-link { white-space:nowrap; display:block; height:41px }
.view-forum .forum-topics .last-post-cell .author-wrapper { float:left; text-align:right; padding-right:10px }
.view-forum .forum-topics .last-post-cell .author-name { color:#a99877; text-align:right }
.view-forum .forum-topics .last-post-cell .author-wrapper .author-name.blizzard-post { width:96px }
.view-forum .forum-topics .last-post-cell .last-post-time { color:#6a5336; font-size:11px; text-align:right; line-height:41px }
.view-forum .forum-topics .last-post-cell .last-post-link:hover .author-name { color:#FFF }
.view-forum .forum-topics .last-post-cell .last-post-link:hover .last-post-time { color:#FFF; border-color:#FFF; }

.view-forum .forum-topics .reply-column,
.view-forum .forum-topics .reply-cell {  padding-right: 5px; padding-left: 5px;  text-align: center; }
.view-forum .forum-topics .reply-cell,
.view-forum .forum-topics .view-cell { color:#643416; font-size:11px }
.view-forum .forum-topics .view-column,
.view-forum .forum-topics .view-cell { text-align: center; }

.view-forum .forum-topics .post-pages-cell { white-space:nowrap }
.view-forum .forum-topics .post-pages-cell .pages-wrapper { height:41px; position:relative; }
.view-forum .forum-topics .post-pages-cell .last-read-page { display:block; width:20px; height:41px; }
.view-forum .forum-topics .post-pages-cell .last-read-page .last-read-arrow { display:block; background: url("/Templates/FreedomCore/images/layout/cms/forum_landing.png") -90px -7px no-repeat; height:10px; width: 6px; position:absolute; left:0; top:15px }
.view-forum .forum-topics .post-pages-cell .last-read-page:hover .last-read-arrow { background-position:-98px -7px; }
.view-forum .forum-topics .post-pages-cell .ui-pagination { display:block; float:right; padding:0 20px 0 15px; height:41px; line-height:41px; white-space: nowrap; background: url(/Templates/FreedomCore/images/layout/cms/icon_subpaging.gif) no-repeat left 50%; }
.view-forum .forum-topics .post-pages-cell .ui-pagination li { float:none; padding:0; margin:0; background:none; display:inline; }
.view-forum .forum-topics .post-pages-cell .ui-pagination li a { font-size:11px; float:none; font-weight:normal; padding:0 0 0 2px; display:inline; background:none; color:#ffb100; border:0; box-shadow:none }
.view-forum .forum-topics .post-pages-cell .ui-pagination li a:hover { color:#FFF }
.view-forum .forum-topics .post-pages-cell .ui-pagination li a span { color: #ffb100; display: inline; border: 0; padding: 0; }
.view-forum .forum-topics .post-pages-cell .ui-pagination li a:hover span { color:#FFF}

.view-forum .inner-search-wrapper #inner-search-field { margin:0 }

/* read topics */
.view-forum .forum-topics .read .topic-title { color:#7B6D55 }
.view-forum .forum-topics .read .topic-title:hover { color:#FFF }
.view-forum .forum-topics .read .icon-cell .topic-icon { background-position:-40px 0; }

/* create topic area */
.view-forum .forum-actions { padding:20px }

.view-forum .forum-actions .forum-permission-error { float:left; width:600px }
.view-forum .forum-actions .forum-permission-error a { display:block }
.view-forum .forum-actions .forum-permission-error a:after { content:" "; display:inline-block; width:10px; height:11px; position:relative; top:1px; left:5px; background: url("/Templates/FreedomCore/images/layout/cms/forum_landing.png") -3px -122px no-repeat; }
.view-forum .forum-actions .forum-permission-error a:hover:after { background-position:-3px -176px; }

.view-forum .forum-actions .create-button-wrapper { float:left; max-width:600px }
.view-forum .forum-actions .create-button-wrapper .forum-mod-tools { padding-top:10px }
.view-forum .forum-actions .create-button-wrapper .forum-mod-tools .save-order { padding-left:5px }
.view-forum .forum-actions .actions-right { float:right }
.ie67 .view-forum .forum-actions .actions-right { width:400px; }
.view-forum .forum-actions .paging-wrapper { padding-top:0; float:right }
.view-forum .forum-actions-top .actions-left { float:left; max-width:600px }
.view-forum .forum-actions-top .actions-left .create-button-wrapper { margin-top:14px }
.view-forum .forum-actions-top .actions-left .subheader-2 { font-size:30px }
.view-forum .forum-actions-top .actions-right { margin-top:10px }
.view-forum .forum-actions-top .actions-right .paging-wrapper { margin-top:24px }