@charset "utf-8";

/* overrides */
ul.profile-sidebar-menu { position: absolute; }

/* Progressbar */
.guild-progress .profile-progress { clear: both; margin: 5px auto 0 auto; text-align: center; height: 22px; position: relative;}
.guild-progress .profile-progress .bar { background: url(/Templates/FreedomCore/images/character/reputation/bar-background-short.gif) repeat-x scroll 0 -44px transparent; display: block; height: 100%; position: absolute; left: 0;}
.guild-progress .profile-progress p { position: relative; top: 0; font-size: 12px; }

.guild-progress.guild-replevel-0 .bar { background-position: 0 -22px }
.guild-progress.guild-replevel-3 .bar { background-position: 0 -44px }
.guild-progress.guild-replevel-4 .bar { background-position: 0 -66px }
.guild-progress.guild-replevel-5 .bar { background-position: 0 -88px }
.guild-progress.guild-replevel-6 .bar { background-position: 0 -110px }
.guild-progress.guild-replevel-7 .bar { background-position: 0 -132px }

.profile-progress { clear:both; height:22px; margin:0; text-align:center;}

/* Selector */
.guild-dropdown { white-space: nowrap; }
.guild-dropdown .current { padding-right: 18px; background: url(/Templates/FreedomCore/images/layout/cms/char-arrow.png) 98% 2px no-repeat; cursor: pointer;  padding-left: 2px; font-weight: bold; color: #fff}
.guild-dropdown .current:hover, .guild-dropdown .active { color: #FFB100; background-position: 98% -146px; }

/* Lists filter */
.list-filter-wrapper { float: right; position: relative; }
.list-filter { position: absolute; right: 15px; top: -48px; white-space: nowrap; }
.list-filter .input { margin-bottom: 12px; margin-left: 10px;}