/* overrides */
.profile-sidebar-inner { background: none; }
.profile-section { min-height: 723px; }
.activity-feed dd { padding-right: 4px; }

/* layout */
.summary { padding-top: 224px; }
.summary-left { margin-right: 358px; }
.summary-right { float: right; width: 333px; }
.summary-right .profile-box-simple { margin-bottom: 10px; }

/* message of the day */
.summary-motd { background-color: rgba(0, 0, 0, 0.15); padding: 25px 23px; margin-bottom: 15px; }
.summary-motd .description { font-style: italic; line-height: 1.75em; }
.motd-recent .description { color: #F5EBD1; font-size: 14px; }
.summary-motd .description .icon { background: url(/Templates/FreedomCore/images/guild/summary/motd-icon.gif) no-repeat left center; padding-left: 20px; }
.summary-motd .author {  }
.summary-motd .date { float: right; color: #71401F; }

/* activity */
.summary-activity {  }
.summary-activity ul { margin-top: -5px; margin-bottom: 15px; }

/* character-specific */
.summary-characterspecific { padding: 15px; background: rgba(0, 0, 0, 0.35); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 20px; }
.summary-characterspecific .category { font-size: 16px; }
.summary-characterspecific .profile-box-simple { margin-top: 4px; }
.summary-characterspecific .summary-simple-list .text { width: 222px; }

/* character details */
.summary-character a.avatar { float: left; width: 84px; height: 84px; background: center center no-repeat; margin-right: 10px; border: 1px solid black; -moz-box-shadow:0 0 10px black; -webkit-box-shadow:0 0 10px black; box-shadow:0 0 10px black; }
.summary-character .rest { float: left; line-height: normal; }
.summary-character .description strong { font-weight: normal; color: #FEF092 }
.summary-character .name { font-size: 24px; letter-spacing: -0.05em; padding-bottom: 13px; }
.summary-character .name a { color: white; }
.summary-character .name a:hover { text-decoration: underline; }
.summary-character .reputation { width: 207px; }

/* rewards */
.summary-rewards { padding-top: 15px; }
.summary-rewards .profile-box-simple { margin-bottom: 0; padding-bottom: 0; }
.summary-rewards ul { margin-top: -10px; }
.summary-rewards li { border-top: 1px solid #331509; line-height: 31px; padding: 8px 0; white-space: nowrap; }
.summary-rewards li:first-child { border-top: 0; }
.summary-rewards li a { display: block; }
.summary-rewards .icon { float: left; margin-right: 6px; height: 31px; }
.summary-rewards .name { float: left; width: 266px; overflow: hidden; text-overflow: ellipsis; }
.summary-rewards a:hover .name { color: white !important; }

/* events */
.event-summary {  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; margin-top: 0;}
.summary-events .icon-frame { float:left; margin-right:10px; }
.summary-events h4 { font-weight:normal; padding: 7px 0 4px; font-size:14px;}
.summary-events li.player-event { cursor: help; }
.summary-events .time-relative { color: #71401F }
.summary-events li {  border-bottom: 1px solid #271b15;  }
.summary-events li:last-child {  border-bottom: 1px solid #271b15;  }
.summary-events .date { color:#71401F; font-size:11px; }
.summary-events .info-wrapper { display: block; float: left; width: 275px }
.summary-events .info-wrapper .title { width: 210px; display: block; word-wrap:break-word}
.summary-events .confirmed, .summary-events .available, .summary-events .accepted, .summary-events .signedUp { color: #0ad71a; }
.summary-events .tentative { color: #d66225; }
.summary-events .invited, .summary-events .notSignedUp { color: #e9e9e9; }
.summary-events .declined { color: #ff1815; }
.summary-events .date-status { float: right; text-align: right; }
.summary-events .empty, .summary-events li:last-child { border: none; }
.summary-events ul { margin-bottom: 8px; }

/* perks */
.summary-perks ul { margin-top: -10px; }
.summary-perks li { padding: 8px 0; border-top: 1px solid #371B0D; }
.summary-perks li:first-child { padding-top: 0; border-top: 0; }
.summary-perks li a { display: block; position:relative; padding: 8px; }
.summary-perks li a:hover { background-color:rgba(0, 0, 0, 0.3); }
.summary-perks .name, .summary-perks .type { padding-top: 3px; }
.summary-perks .name { font-size: 12px; float: left; }
.summary-perks .type { color: #71401F; font-size: 10px; position: absolute; text-transform: uppercase; letter-spacing: -0.05em; text-align: right; top: 3px; right: 5px;}
.summary-perks .icon-wrapper { height: 40px; width: 40px; float: left; margin-right: 16px; display: block; margin-top: 4px;}
.summary-perks .text { display:block; float:left; width:250px; }
.summary-perks .text strong { color:#FAB000; }
.summary-perks .desc {color: #F5EBD1; font-size: 12px; display: block;}
.summary-perks a:hover .desc, .summary-perks a:hover .text strong  {color: white}
.summary-perks .locked .icon-frame, .perks-list .locked .symbol, .summary-perks .locked .text, .summary-perks .locked .symbol  { opacity:0.5; }
.summary-perks .symbol { background: no-repeat; height: 24px; left: 39px; position: absolute; top: 36px; width: 24px; display: block;}
.summary-perks .locked .symbol { background-image: url(/Templates/FreedomCore/images/tool/talent-calculator/tree-locked-icon.png); }

/* top weekly contributors */
.summary-weekly-contributors .table { margin-bottom: 10px; }
.summary-weekly-contributors .table tbody td { text-align:center}
.summary-weekly-contributors .table tbody td.name { text-align:left}