@charset "utf-8";

html,
body { background: #040404 url(/Templates/FreedomCore/images/layout/bg-top.jpg) 50% 0 no-repeat; color: #4a4a4a; font: normal 12px/1.25 "Trebuchet MS", Arial, sans-serif; min-width: 990px; }

/* text and headings */
h2,
h3,
h4,
h5,
h6 { line-height: 1.1; font-weight: normal; }
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong { font-weight: bold; }

#navigation #page-menu h2.second-header { color: #62737E; border-right: 0; }

.subcategory { color: #5d5d5d; text-transform: uppercase; font: normal 11px/1.25 "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; }
.headline { color: #393939; letter-spacing: -.04em; font: bold 28px/1.25 "Trebuchet MS", Arial, sans-serif; }
.large-headline { color: #393939; letter-spacing: -.04em; margin: 0 0 .25em 0; font: bold 36px/1.25 "Trebuchet MS", Arial, sans-serif; }
.caption { color: #393939; letter-spacing: -0.02em; margin: 0 0 .5em 0; font: bold 16px/1.25 "Trebuchet MS", Arial, sans-serif; }
.caption .promo { color: #f00; }
.large-caption { color: #393939; letter-spacing: -0.04em; margin: 0 0 .5em 0; font: normal 24px/1.25 "Trebuchet MS", Arial, sans-serif; }
.section-title { color: #393939; text-transform: uppercase; letter-spacing: -.05em; padding-bottom: .25em; margin: 0 0 .5em 0; border-bottom: 1px solid #afadac; font: bold 16px/1.25 "Trebuchet MS", Arial, sans-serif; }
.principal { color: #393939; letter-spacing: -.04em; font: bold 40px/1.25 "Trebuchet MS", Arial, sans-serif; }
.supporting { color: #393939; letter-spacing: -0.02em; font: bold 22px/1.25 "Trebuchet MS", Arial, sans-serif; }
.supporting-header { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #afadac; }
.minor { color: #8d8d8d; text-transform: uppercase; font: bold 14px/1.25 "Trebuchet MS", Arial, sans-serif; }

.subcategory a { color: #5d5d5d; }

a { color:#0072a3 }
a:hover,
a:focus { color: #014663; }
.text-white { color: #fff; }
.text-green { color: #4a8432; }
.text-red { color: #944a4a; }
.text-orange { color: #b9801d; }
.text-gray { color: #62737e; }

hr { margin: 0.75em auto 2em; height: 1px; border: none; border-top: 1px solid #b5b3b2; }

::-moz-selection { color: #eee; background: #006a9b; }
::selection { color: #eee; background: #006a9b; }

/* shadows */
.drop-shadow { -moz-box-shadow: #888 0 3px 10px; -webkit-box-shadow: #888 0 3px 10px; box-shadow: #888 0 3px 10px; }
.glow-shadow { -moz-box-shadow: #888 0 0 10px; -webkit-box-shadow: #888 0 0 10px; box-shadow: #888 0 0 10px; }
.glow-shadow-2 { -moz-box-shadow: #b2b2b2 0 0 5px; -webkit-box-shadow: #b2b2b2 0 0 5px; box-shadow: #b2b2b2 0 0 5px; }
.glow-shadow-3 { -moz-box-shadow: #000 0 0 8px; -webkit-box-shadow: #000 0 0 8px; box-shadow: #000 0 0 8px; }

/* borders */
.border-2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.border-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.border-4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.border-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.border-7 { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }

/* display */
.display-none { display: none !important; }
.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }
.display-bug { display: inline-block !important; }
.float-left { float: left; }
.float-right { float: right; }

/* buttons */
/* Recreated .ui-button styles that were removed in Common 5.0 */
.ui-button span,
.ui-cancel span { font: normal 12px/38px "Lucida Sans Unicode","Lucida Grande",sans-serif;text-transform: uppercase; }
.ui-button span { padding: 0 0 0 28px; }
.ui-button span span { background-position: 100% -123px; padding: 0 28px 0 0; }

/* BAM button type 1 */
.button1 { padding: 2px 4px; }
.button1 span { color: #fff; height: 32px; line-height: 32px; background: url(/Templates/FreedomCore/images/buttons/default.gif) 50% 0 repeat-x; }
.button1 > span { -moz-box-shadow: #444 0 0 5px; -webkit-box-shadow: #444 0 0 5px; box-shadow: #444 0 0 5px; }
.button1 span { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.button1.disabled span,
.button1.processing span,
.button1[disabled] span { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.button1.hover span,
.button1:hover span,
.button1:focus span { background-position: 50% -32px; }
.button1.disabled span,
.button1.disabled:hover span,
.button1.disabled.hover span { cursor: default; background: #bdbcb9; }
.button1.processing span,
.button1.processing:hover span,
.button1.processing.hover span { cursor: default; background-position: 50% -64px; color: transparent; }
.ui-cancel span { border-left: 1px solid #bbb; padding: 0 1em; margin-left: 10px; }
.button1.disabled,
.button1.disabled span,
.button1.disabled:hover,
.button1.disabled:hover span,
.button1.disabled.hover,
.button1.disabled.hover span,
.ui-button.disabled span span,
.ui-button.disabled:hover span span,
.ui-button.disabled.hover span span,
.button1[disabled] { cursor: not-allowed; }
.button1.processing,
.button1.processing:hover,
.button1.processing.hover { cursor: progress; }

/* BAM button type 2 */
.button2 span { padding: 0 0 0 12px; color: #fff; height: 20px; line-height: 20px; background: url(/Templates/FreedomCore/images/buttons/default.gif) 50% 0 repeat-x; }
.button2 span span { padding: 0 12px 0 0; }
.button2 > span { -moz-box-shadow: #444 0 0 5px; -webkit-box-shadow: #444 0 0 5px; box-shadow: #444 0 0 5px; }
.button2 span { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.button2.disabled span,
.button2.processing span,
.button2[disabled] span { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.button2.hover span,
.button2:hover span,
.button2:focus span { background-position: 50% -32px; }
.button2.disabled span { cursor: default; background: #bdbcb9; }
.button2.processing span { cursor: default; background-position: 50% -64px; color: transparent; }
.small-cancel span { border-left: 1px solid #bbb; padding: 0 1em; margin-left: 10px; }

.button3 { padding: 2px 4px; }
.button3 span { font-size: 14px; font-weight: bold; color: #fff; height: 43px; line-height: 43px; background: url(/Templates/FreedomCore/images/buttons/default-button3.gif) 50% 0 repeat-x; }
.button3 span span { background-position: 50% -131px; }
.button3 > span { -moz-box-shadow: #444 0 0 5px; -webkit-box-shadow: #444 0 0 5px; box-shadow: #444 0 0 5px; }
.button3 span { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.button3.disabled span,
.button3.processing span,
.button3[disabled] span { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.button3.hover span,
.button3:hover span,
.button3:focus span { background-position: 50% -44px; }
.button3.disabled span { cursor: default; background: #bdbcb9; }
.button3.processing span { cursor: default; background-position: 50% -90px; color: transparent; }

.ui-button-large { background: none; border: 0px none; cursor: pointer; display: inline-block; height: auto; overflow: visible; vertical-align: middle; text-align: center; }
.ui-button-large.position { margin: 20px 0px 0px 30px; }
.ui-button-large span { background: url(/Templates/FreedomCore/images/buttons/large-blue.gif) repeat-x scroll center 0; color: #FFFFFF; padding: 0 28px; display: inline-block; height: 60px; line-height: 59px; text-align: center; text-decoration: none; white-space: nowrap; }
.ui-button-large span { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 5px #444444; -webkit-box-shadow: #444444 0 0 5px; box-shadow: #444444 0 0 5px; }
.ui-button-large span span { padding: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; vertical-align: middle; }
.ui-button-large span.dark { background: url(/Templates/FreedomCore/images/buttons/large-dark.gif) repeat-x scroll center 0; }
.ui-button-large:hover span { background-position: center -60px; }
.ui-button-large span .button-details { background: url(/Templates/FreedomCore/images/icons/digital.png) 0% 50% no-repeat; padding-left: 36px; padding-right: 0; margin: 0; }
.ui-button-large span.order-box { background: url(/Templates/FreedomCore/images/icons/box.png) 0% 50% no-repeat; margin: 0; padding-left: 32px; }
.ui-button-large span.free-trial { background: url(/Templates/FreedomCore/images/icons/circle.png) 0% 50% no-repeat; margin: 0; padding-left: 32px; }
.ui-button-large span.free-starter { background: url(/Templates/FreedomCore/images/icons/starter.png) 0% 50% no-repeat; margin: 0; padding-left: 32px; }
.ui-button-large span .button-details strong { font-size: 20px; margin-left: 30px; }
.ui-button-large.disabled span { background: url(/Templates/FreedomCore/images/buttons/large-grey.gif) repeat-x scroll center 0; cursor: default; }

/* dropdown */
.ui-dropdown { border: none; }
.ui-dropdown .dropdown-toggler { color: #eaeaea; font-size: 14px; display: block; background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 0 repeat-x; padding-right: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: #b2b2b2 0 0 5px; -webkit-box-shadow: #b2b2b2 0 0 5px; box-shadow: #b2b2b2 0 0 5px; }
.ui-dropdown .dropdown-toggler span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% 0 no-repeat; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
.ui-dropdown .dropdown-toggler:hover { background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 -40px repeat-x; }
.ui-dropdown .dropdown-toggler:hover span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -30px no-repeat; }
.ui-dropdown.opened .dropdown-toggler span,
.ui-dropdown.opened .dropdown-toggler:hover span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -60px no-repeat; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
.ui-dropdown .dropdown-wrapper { background: #c5c5c5; border: 1px solid #a0a0a0; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-box-shadow: #b2b2b2 0 4px 4px; -webkit-box-shadow: #b2b2b2 0 4px 4px; box-shadow: #b2b2b2 0 4px 4px; }
.ui-dropdown .dropdown-wrapper ul li a { padding: 5px; color: #000; display: block; }
.ui-dropdown .dropdown-wrapper ul li a:hover,
.ui-dropdown .dropdown-wrapper ul li a:focus { text-decoration: none; background: #d4d4d4; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.ui-dropdown.disabled .dropdown-toggler,
.ui-dropdown.disabled .dropdown-toggler:hover { color: #dbdbdb; background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 -80px repeat-x; }
.ui-dropdown.disabled .dropdown-toggler span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -90px no-repeat; cursor: default; }

/*e-bank balance dropdown*/
.ebank-balance { margin-top: -75px; float: right }
.balance { width: auto; min-width: 180px; position: relative }
.balance .dropdown-toggler { color: #eaeaea; font-size: 14px; display: block; background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 0 repeat-x; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: #b2b2b2 0 0 5px; -webkit-box-shadow: #b2b2b2 0 0 5px; box-shadow: #b2b2b2 0 0 5px; height: 30px; overflow: hidden; z-index: 20; position: relative; padding-right: 0; }
.balance .dropdown-toggler a { padding-right: 3px }
.balance .dropdown-toggler span { color: #fff; background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% 0 no-repeat; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; display: block; height: 30px; line-height: 30px; padding-left: 10px; padding-right: 40px; text-align: right }
.balance .dropdown-toggler:hover { background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 -40px repeat-x; }
.balance .dropdown-toggler:hover span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -30px no-repeat; }
.balance.opened .dropdown-toggler span,
.balance.opened .dropdown-toggler:hover span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -60px no-repeat; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
.balance .dropdown-wrapper { background: #c5c5c5; border: 1px solid #a0a0a0; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-box-shadow: #b2b2b2 0 4px 4px; -webkit-box-shadow: #b2b2b2 0 4px 4px; box-shadow: #b2b2b2 0 4px 4px; clear: both; display: block; position: absolute; width: 150px; z-index: 210; right: 0 }
.balance .dropdown-wrapper ul li a { padding: 5px; color: #000; display: block; }
.balance .dropdown-wrapper ul li a:hover,
.balance .dropdown-wrapper ul li a:focus { text-decoration: none; background: #d4d4d4; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.balance.disabled .dropdown-toggler,
.balance.disabled .dropdown-toggler:hover { color: #dbdbdb; background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 -80px repeat-x; }
.balance.disabled .dropdown-toggler span { background: url(/Templates/FreedomCore/images/form/dropdown-right.gif) 100% -90px no-repeat; cursor: default; }

/* pagination */
.ui-pagination { height: 22px; overflow: hidden; background-position:0 50%; background-repeat:no-repeat }
.ui-pagination li { display: inline-block; margin: 0 1px; }
.ui-pagination li a,
.ui-pagination li.expander { padding: 0 10px; height: 22px; line-height: 22px; display: block; text-align: center; }
.ui-pagination li.expander { display: inline-block; font-weight: bold; }
.ui-pagination li.last-item,
.ui-pagination li.first-item { padding-right: 20px; background: url(/account/static/local-common/images/icons/pagination.png) 93% 50% no-repeat; }
.ui-pagination li.last-item { background-position: 4px 50%; padding: 0 1px 0 20px; }
.ui-pagination li.last-item a,
.ui-pagination li.first-item a,
.ui-pagination li.cap-item a { width: auto; padding: 0 8px; }
.ui-pagination.empty-pagination { background:none }
.ui-pagination li a { background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 0 repeat-x; color: #cecece; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.ui-pagination li a:hover,
.ui-pagination li a:focus { background: url(/Templates/FreedomCore/images/form/dropdown-bg.gif) 0 -40px repeat-x; color: #fff; text-decoration: none; }
.ui-pagination li.current a { background: #0080b2; color: #fff; }
.ui-pagination li.current a:hover,
.ui-pagination li.current a:focus { background: #009ee2; }
.data-container table {width:100%;}

/* tooltip */
.ui-tooltip { max-width: 300px; color: #c4d2db; background: #4d606d; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: #b2b2b2 0 0 5px; -webkit-box-shadow: #b2b2b2 0 0 5px; box-shadow: #b2b2b2 0 0 5px; padding: 8px 12px; }
.ui-tooltip h3 { color: #fff; }
.ui-tooltip ul,
.ui-tooltip ol { margin: 0 0 0 1.5em; }
.ui-tooltip ul:last-child,
.ui-tooltip ol:last-child { margin-bottom: 0; }
.ui-tooltip ul li { list-style: disc; margin: 0 0 1em 0; }
.ui-tooltip ul li:last-child { margin-bottom: 0; }
.ui-tooltip ol li { list-style: disc; margin: 0; }
.ui-tooltip .middle-center { padding: 10px; }

/* overlay */
#overlay { padding: 20px; color: #000; background: #d9d9d9; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

/* menu */
.flyout-menu { padding-top: 20px; background: url(/Templates/FreedomCore/images/layout/menu-dropdown.gif) 0 0 no-repeat; width: 190px; margin-top: 35px; position: absolute; left: 50%; margin-left: -95px; }
.flyout-menu ul { background: #4d606d; width: 190px; padding-bottom: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.flyout-menu ul li { padding: 0 5px; }
.flyout-menu ul li.divider { padding: 3px 10px; margin: 5px 0; background: #364b58; color: #627a8a; }
.flyout-menu ul li a { color: #acbdc8; display: block; padding: 3px 5px; line-height: 1.5; }
.flyout-menu ul li a:hover { background: #6b7f8d; color: #fff; -moz-border-radius: 3px; }

/* service bar */
#service { right: -7px; font-family: "Lucida Sans Unicode",Arial,Helvetica,sans-serif; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

/* layout */
.wrapper { width: 990px; margin: 0 auto; }
#layout-top { background: url(/Templates/FreedomCore/images/layout/bg-sides.png) bottom center repeat-x; position: relative; }
#layout-top .wrapper { position: relative; }
#layout-middle { background: #d3d1ce url(/Templates/FreedomCore/images/layout/bg-middle.jpg) top center repeat-x; border-bottom: 4px solid #777674; min-height: 400px; min-width: 1120px; }
#layout-bottom { background: #040404 url(/Templates/FreedomCore/images/layout/bg-top.jpg) no-repeat 50% 70%; min-height: 300px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
img { -moz-user-select: none; -webkit-user-select: none; user-select: none; }

/* lightweight account completion */
.bam-wow #layout-middle .wrapper { background: url(/Templates/FreedomCore/images/layout/bg-middle-varian.jpg) no-repeat right 64px; height: 520px; }
.bam-wow .wow-content { background: url(/Templates/FreedomCore/images/game-icons/wow-64.png) no-repeat left 28px; padding: 40px 340px 40px 80px; }
.bam-wow .wow-content .caption { margin: 32px 0; }
.bam-wow .wow-content .button1 { padding: 0; }

/* header */
#header { padding-top: 50px; clear: both; }
#header #logo { width: 402px; height: 92px; overflow: hidden; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
#header #logo a { width: 402px; height: 92px; display: block; border: none; text-indent: -9999px; background: url(/Templates/FreedomCore/images/logos/bnet-default.png) no-repeat; }
#header #navigation { margin-top: 5px; padding: 15px 20px 0 0; height: 61px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
#header #navigation h2 { margin-bottom: 10px; color: #89959a; font-weight: normal; }
#header #navigation a { color: #00b6ff; }
#header .ui-breadcrumb li { padding-right: 15px; background: url(/Templates/FreedomCore/images/icons/arrows.gif) 105% -91px no-repeat; }
#header .ui-breadcrumb li.last { background: none; }

/* search bar */
#search-bar { float: right; margin-top: 25px; margin-right: 7px; overflow: hidden; }
#search-form { height: 32px; width: 280px; padding: 0 3px 0 20px; background: url(/Templates/FreedomCore/images/layout/search-form.png) 0 0 no-repeat; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#search-form div { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background: none; padding: 0; width: auto; }
#search-form #search-button { float: right; width: 30px; height: 32px; background: none; border: none; cursor: pointer; }
#search-form #search-field { font-size: 15px; width: 240px; padding: 3px; border: 0; margin-top: 4px; color: #707070; background: transparent; outline: 0; }
#search-form #search-field.active,
#search-form #search-field:focus { color: #000; }

/* content */
#content { padding: 25px 0; }

/* footer */
#footer-banner .banner-slot { background: #d3d1ce; margin-bottom: 10px; -moz-box-shadow: #000000 0 0 5px; -webkit-box-shadow: #000000 0 0 5px; box-shadow: #000000 0 0 5px; }

/* HS dashboard legal */
#legal #legal-ratings { text-align:right }

/* page */
#menu-container { margin-top: -22px; }
#navigation #page-menu.large { }
#navigation #page-menu h2 { float: left; margin: 0 20px 0 0; padding-right: 20px; border-right: 1px solid #495354; font-size: 36px }
#navigation #page-menu h2.isolated { border: 0; }
#navigation #page-menu h2 a { color: #62737e; }
#navigation #page-menu h2 a:hover { color: #fff; }
#navigation #page-menu h3 { color: #393939; font-weight: bold; font-size: 32px; color: #BDC4D0; float: left; font-size: 26px; font-weight: normal; padding-top: 7px; }
#navigation #page-menu ul { list-style: none; padding: 1px 0 0; font-size: 13px; font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; }
#navigation #page-menu li { float: left; position: relative; margin-right: 10px; }
#navigation #page-menu li a { height: 36px; display: block; float: left; padding: 15px 10px 10px; }
#navigation #page-menu li a:hover { color: #fff; }
#navigation #page-menu li span.arrow { display: none; position: absolute; top: 46px; left: 50%; margin: 0 -13px; background: url(/Templates/FreedomCore/images/layout/menu-arrow.png) no-repeat 0 0; width: 27px; height: 18px; }
#navigation #page-menu li span.menu-icon-new { position: absolute; top: 2px; right: -3px; background: url(/Templates/FreedomCore/images/layout/new.gif) no-repeat 0 0; width: 26px; height: 12px; }
#navigation #page-menu li.active a { color: #fff; }
#navigation #page-menu li.active span { display: block; }
#navigation #page-menu .flyout-menu ul { padding: 0 0 5px 0; display: block; visibility: visible }
#navigation #page-menu .flyout-menu li { float: none; display: block; width: auto; position: static; margin-right: 0; }
#navigation #page-menu .flyout-menu li a { float: none; display: block; color: #ACBDC8; padding: 3px 5px; font-size: 12px; height: auto; }
#navigation #page-menu .flyout-menu li a:hover { color: #fff }
#navigation #page-menu li .menu-arrow { padding-right: 15px; background: url(/Templates/FreedomCore/images/icons/account-arrows.gif) no-repeat 100% 5px }
#navigation #page-menu li .menu-arrow:hover { background-position: 100% -36px; }
#navigation #page-menu li a.transaction #chargebackCount{display:none; margin:0 4px; padding:0 4px; background:#92300f; color:#ebd6ce; font-size:11px; line-height:14px;}

#navigation #page-menu li.account-balance { float: right; }
#navigation #page-menu li.account-balance-krw { font-size: 12px; }
#navigation #page-menu li.account-balance a.title { height: 36px; display: block; float: left; padding: 0 15px 10px; }
#navigation #page-menu li.account-balance a.title .sub-title { font-size: 11px; color: #c0bfbb; }
#navigation #page-menu li.account-balance a.title .balance { color: #69ba02; }
#navigation #page-menu li.account-balance a.title:hover .balance { color: #fff; }
#navigation #page-menu li.account-balance .menu-arrow { padding-right: 20px; background: url(/Templates/FreedomCore/images/icons/account-arrows.gif) no-repeat 100% -79px }
#navigation #page-menu li.account-balance .menu-arrow:hover { background-position: 100% -36px; }

#navigation #page-menu li.account-balance .flyout-menu { display: none; }
#navigation #page-menu li.account-balance .flyout-menu li.line { padding-bottom: 4px; margin-bottom: 4px; border-bottom: 1px solid #6b7f8d; }
#navigation #page-menu li.account-balance .flyout-menu li a { padding-left: 15px; }
#navigation #page-menu li.account-balance .flyout-menu li a img { padding-right:6px; position:relative; top:1px;}
#navigation #page-menu li.account-balance .flyout-menu li span { float: none; color: #acbdc8; display: block; padding: 3px 5px 3px 15px; line-height: 1.5; font-size: 12px; height: auto; }
#navigation #page-menu li.account-balance .flyout-menu li span:hover { background: #6b7f8d; color: #fff; -moz-border-radius: 3px; }
#navigation #page-menu li.account-balance .flyout-menu li.selected span { background: url(/Templates/FreedomCore/images/icons/arrows.png) no-repeat 0 -124px; }
#navigation #page-menu li.account-balance .flyout-menu li.selected span:hover { background-color: #6b7f8d; }
#navigation #page-menu li.account-balance .flyout-menu li.switch-currency { cursor: pointer; }
#navigation #page-menu li.account-balance .flyout-menu li.refreshing { display: none; }
#page-header { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #afadac; }
#page-header h2 { margin-top: 0; }
.page-content p { margin: 0 0 15px 0; line-height: 1.5; }
.page-content form { margin-top: 15px; }
#page-character { background: #8d8d8d; padding: 10px; float: right; color: #fff; margin-top: -10px; }

.gameicon-header { height: 48px; overflow: hidden; border-bottom: 1px solid #b2b0af; position: relative; padding: 0 0 0 56px; }
.gameicon-header img { border-right: 1px solid #b2b0af; position: absolute; left: 0; top: 0; }

#account-progress { width: 750px; float: right; text-align: right; text-transform: uppercase; font-size: 11px; height: 56px; }
#account-progress span { color: #808080; }
#account-progress #progress-bar { height: 8px; background: #c0c0c0; width: 100%; margin-top: 5px; overflow: hidden; text-align: left; }
#account-progress #current-progress { background: #0078a7; height: 8px; }
#content #account-progress { float: none; width: 100%; }
#content #account-progress #progress-bar { background-color: #8f8d8b; }

/* download buttons */
a.download { display: inline-block; text-align: left; height: 48px; width: 164px; padding: 8px 12px 0 60px; overflow: hidden; background: #387a03 url(/Templates/FreedomCore/images/dashboard/buttons/download.png) repeat-x 0 0; color: #fff; cursor: pointer; position: relative; }
a.download strong { display: block; font-size: 24px; line-height: 1.1; }
a.download em { display: block; font-style: normal; color: #a4ff5a; font-size: 11px; line-height: 1.5; }
a.download .icon { display: block; position: absolute; left: 0; top: 0; width: 56px; height: 56px; overflow: hidden; background: url(/Templates/FreedomCore/images/dashboard/icons/os.png) no-repeat 0 0; }
a.download .icon.win { background-position: 0 0; }
a.download:hover .icon.win,
a.download:focus .icon.win { background-position: 0 -56px; }
a.download .icon.mac { background-position: -56px 0; }
a.download:hover .icon.mac,
a.download:focus .icon.mac { background-position: -56px -56px; }
a.download:hover,
a.download:focus { background-color: #6dab04; background-position: 0 -56px; color: #fff; }
a.download:hover em,
a.download:focus em { color: #fff; }
a.download.disabled,
a.download.disabled:hover,
a.download.disabled:focus { background-color: #bdbcb9; background-position: 0 -112px; }
a.download.disabled em { color: #7f7e7d; }
a.download.disabled .icon.win,
a.download.disabled:hover .icon.win,
a.download.disabled:focus .icon.win { background-position: 0 -112px; }
a.download.disabled .icon.mac,
a.download.disabled:hover .icon.mac,
a.download.disabled:focus .icon.mac { background-position: -56px -112px; }
.download-buttons { padding: 8px 0; }
.download-buttons a.download { overflow: auto; }

/* section */
div.section-title { text-transform: none; }
.section-header { height: 39px; margin-bottom: 10px; font-size: 14px; padding: 0 15px; line-height: 39px; color: #fff; background: url(/Templates/FreedomCore/images/layout/section-title.gif) 0 0 repeat-x; }
.section-wrapper { width: 732px; overflow: hidden; margin: 0 auto; }
.section-box,
.section-box2 { background: #e0dfdd; padding: 15px; margin-bottom: 40px; clear: both; }
.section-box2 { background: #c1c0bd; padding: 10px; }
.section-left { width: 450px; float: left; clear: none; }
.section-right { width: 450px; float: right; clear: none; }
.section-wrapper .section-left { width: 384px; }
.section-wrapper .section-right { width: 272px; }
.section-wrapper .section-box,
.section-wrapper .section-box2 { min-height: 140px; }
.section-wrapper .section-box { background: #f6f6f6; }
.section-buttons { text-align: center; }
.notice-row { clear: both; margin: 1.5em 0 0 0; }
.notice-row .noticeTitle { display: inline-block; padding-right: 30px; width: 33%; font-size: 12px; font-weight: bold; color: #000; text-align: right; vertical-align: top; }
.notice-row .noticeDesc { display: inline-block; line-height: 1.25em; width: 500px }
.notice-row .noticeDesc .account { font-size: 26px; font-weight: bold; line-height: 26px; color: #61b722; }
.notice-row .noticeDesc .verificationEmail { font-size: 16px; font-weight: bold; color: #000; }
.notice-row .noticeDesc .verificationEmailQeustion { color: #f00; }
.notice-row .noticeDesc .ui-note .note-toggler img { vertical-align: middle; }
.notice-row .noticeDesc .ui-note .form-note { width: 370px; }
.notice-row .noticeDesc .ui-note { top: -5px; }
.obNotice .caution { padding: 0 0 20px 35px; line-height: 18px; font-size: 12px; font-weight: bold; color: #4a4a4a; background: url(/account/static/images/icons/warning-background.png) no-repeat 0 0; }
.obNotice .caution ul { margin: 5px 0 0 20px; }
.obNotice .caution ul li { font-weight: normal; }
.section-title.info-header { margin-bottom: 16px; }

.form-section { margin-bottom: 3em; }

#rating-note { width: 300px; }

/* columns */

.columns-2,
.columns-3,
.columns-4,
.columns-2-1,
.columns-1-2 { overflow: hidden; margin: 0 0 3em 0; }
.page-header .columns-2 { margin: 0; }
.column { float: left; }
.columns-2 .column { width: 50%; }
.columns-3 .column { width: 33.333%; }
.columns-4 .column { width: 25%; }
.columns-2-1 .column-left,
.columns-1-2 .column-right { width: 66.666%; }
.columns-2-1 .column-right,
.columns-1-2 .column-left { width: 33.333%; }


/* fieldsets */
fieldset.ui-controls { margin-left: 40%; width: 60%; }
fieldset.ui-controls .button1 { padding-left: .4em; }
fieldset.ui-controls.section-buttons { margin-left: 0; text-align: center; width: auto; }
fieldset.ui-controls.section-buttons .button1 { padding-left: 0; }
fieldset.ui-controls.battletag-buttons { margin-left: -5%; text-align: center; width: auto; }
fieldset.ui-controls.battletag-buttons .button1 { padding-left: 0; }
fieldset.ui-controls.section-stacked { margin-left: 0; width: auto; }
fieldset.ui-controls.section-stacked .button1 { padding-left: 0; }

/* form */
.page-content form { margin-bottom: 3em; }
.help-link,
.help-link-right{ display: inline-block; background: url(/Templates/FreedomCore/images/icons/tooltip-help.gif) no-repeat left center; padding-left: 20px; height: 20px; line-height: 20px; margin: 0 0 .5em 0; }
.help-link-right { background-position:right center; padding-right: 20px; margin: 0 0 .5em 0; }
.combobox-link { display: inline-block; }

.input { background: #fff url(/Templates/FreedomCore/images/form/input-bg.gif) repeat-x; font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; /*color: #afafaf; */ color: #5a5a5a; padding: 7px; font-size: 14px; border: 1px solid #c0c0c0; }
.input:hover { background: #fff; }
.input:focus { background: #fff; border-color: #175e7c; color: #5a5a5a; }
.disabled, .input[disabled="disabled"] { background: #e3e3e3; color: #b6b6b6; border-color: #c0c0c0; }
select.input { padding: 6px; background: #f0f0f0; }
select.input option { background: none; }
textarea.input { padding: 6px; background: #fff url(/Templates/FreedomCore/images/form/textarea-bg.gif) 0 0 repeat-x; }

input[type="text"]:disabled { color: gray !important; }

.form-row-checkbox { clear: both; margin: 1.5em 0 0 0; }
.form-row-checkbox .checkbox { display: inline-block; vertical-align: top; line-height: 1.5; width: 40%; text-align: right; margin: .25em 0 .75em 0; }
.form-row-checkbox .checkbox input { background: none; border: none; width: 48px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.form-row input.cvs-radio { background: none; border: none; margin: 0; padding: 0; width: 16px; min-width: 16px; vertical-align: middle; }
.form-row-checkbox label { display: inline-block; min-width: 266px; width: 36.6%; cursor: pointer; vertical-align: middle; line-height: 1.5; font-size: 16px; color: #202020; padding: 0 7px; margin-bottom: .75em; }
.form-row-checkbox label strong { font-weight: normal; }

.form-row-checkbox-inline { clear: both; margin: 1.5em 0 0 0; text-align: center; }
.form-row-checkbox-inline .checkbox { display: inline-block; vertical-align: top; line-height: 1.5; width: 16px; text-align: right; margin: 0 5px; }
.form-row-checkbox-inline .checkbox input { background: none; border: none; width: 16px; min-width: 16px; }
.form-row-checkbox-inline label { display: inline-block; width: 140px; cursor: pointer; vertical-align: middle; line-height: 1.5; font-size: 16px; color: #202020; padding: 0 7px; margin-bottom: .75em; text-align: left; }
.form-row-checkbox-inline label strong { font-weight: bold; }
.method-receipt { display: none; }
#methodReceipt-01 { display: block; }

.form-row-checkbox-stacked { clear: both; margin: 0 0 2em 0; }
.form-row-checkbox-stacked .checkbox { padding-top: 2px; width: 24px; display: inline-block; vertical-align: top; line-height: 1.5; text-align: right; }
.form-row-checkbox-stacked .checkbox input { display: inline-block; vertical-align: top; background: none; border: none; width: 16px; height: 16px; }
.form-row-checkbox-stacked label { width: 90%; display: inline-block; cursor: pointer; vertical-align: middle; line-height: 1.5; font-size: 16px; color: #202020; padding: 0 7px; }
.form-row-checkbox-stacked label strong { font-weight: normal; }

.form-row .form-left { vertical-align: top; font-size: 16px; color: #202020; display: inline-block; padding-right: 32px; line-height: 26px; width: 36.6%; text-align: right; }
.form-row .form-left.form-alert { background: url(/Templates/FreedomCore/images/icons/warning-triangle.gif) no-repeat 97% 0; }
/*.form-row.required .form-left { padding-right: 0; width: 40%; }*/
.form-row .form-middle { vertical-align: top; font-size: 16px; color: #202020; display: inline-block; line-height: 26px; width: 36.6%; text-align: right; }
.form-row .form-right { display: inline-block; vertical-align: top; font-weight: normal; width: 35%; min-width: 250px; font: 14px/26px "Lucida Sans Unicode","Lucida Grande","Arial",sans-serif; }
.form-row.alt-captcha,
.form-row.alt-style { margin-bottom: 1.5em; }
.alt-captcha .form-right,
.alt-style .form-right { width: 54%; padding: 10px 20px; background-color: #e0dfdd; }
.alt-captcha .form-right { width: 380px; }
.alt-captcha .form-right .alt-label,
.alt-style .form-right .alt-label,
.alt-style .form-right p { font-size: 12px; }
.alt-style .form-right p { margin: 0; line-height: 1.5em; }
.alt-captcha .form-right .alt-captcha-input .form-row { margin: 8px 0 12px 0; }
.alt-captcha .form-right .alt-captcha-input .form-row input { min-width: 184px; }
.form-row .form-right.form-alert { width: 60%; color: #944a4a; font: 12px/16px "Lucida Sans Unicode","Lucida Grande","Arial",sans-serif; }
.form-row .form-right-desc { display: inline-block; padding-left: 37%; vertical-align: top; font-weight: normal; width: 63%; min-width: 250px; font: 14px/26px;}
#nepay-promotion { cursor: pointer; }

.form-row-stacked { clear: both; margin: 0 0 2em 0; }
.form-row-stacked label { cursor: pointer; font-size: 18px; color: #4a4a4a; display: inline-block; line-height: 1.25; margin: 0 0 .25em 0; }
.form-row-stacked label .secondary-label { font-size: 14px; }
.form-row-stacked input { width: 30%; }
.form-row-stacked select { width: 31.6%; }
.form-row-stacked input.auto-width,
.form-row-stacked select.auto-width { width: auto; }

.form-row,
.form-row-file { clear: both; margin: 1.5em 0 0 0; }
.form-row label { vertical-align: top; cursor: pointer; font-size: 16px; color: #202020; display: inline-block; line-height: 32px; width: 40%; text-align: right; }
.form-row label.full-row { width: auto; display: block; text-align: left; }
.form-row.form-error label, .form-row-split-left.form-error label { color: #730202; }
.form-row.form-error input { border-color: #730202; }
label.double-line strong,
.form-row label strong { font-weight: normal; display: inline-block; line-height: 1.3; }
.form-row label strong.bold { font-weight: bold; display: inline; }
.form-required { display: inline-block; width: 32px; text-align: left; color: #7f7e7d; font-size: 22px; }
.label-compact strong { display: none; }
.form-row input,
.form-row select { color: #5a5a5a; min-width: 250px; width: 35%; padding: 2px 7px; height: 26px; border: 1px solid #c0c0c0; font: normal 14px/26px "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; background: #fff url(/Templates/FreedomCore/images/form/input-bg.gif) repeat-x; outline: none; }
.form-row select { height: 32px; padding: 5px; background: #fff; min-width: 266px; width: 36.6%; }
.form-row input.tiny-input { min-width: 6em; width: 6em; }
.form-row input.small-input { min-width: 10em; width: 10em; }
.form-row input:hover { background: #fff; }
.form-row input:focus { background: #fff; border-color: #175e7c; color: #5a5a5a; }
.form-row .static-value { min-width: 266px; width: 36.6%; line-height: 26px; padding: 2px 7px; }
.form-row-file input,
.form-row-file input:hover,
.form-row-file input:focus { min-width: 250px; width: 35%; padding: 2px 7px; height: 26px; font: normal 14px/26px "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; outline: none; }
.form-row-file label { vertical-align: top; cursor: pointer; font-size: 16px; color: #202020; display: inline-block; line-height: 32px; width: 40%; text-align: right; }
.form-row-file.form-error label { color: #730202; }
.form-row-file label strong { font-weight: normal; display: inline-block; line-height: 1.3; }

/*
.form-error label { color: #730202; }
*/
input.form-error, select.form-error, textarea.form-error { border-color: #730202; }
.form-row input.form-disabled { background: #d3d1ce; border-color: #bdbcb9; color: #a6a4a2; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/*
.form-row exception
*/
#payment-details .form-row label { width: 37%; }


/* Form note & label */
.form-note { position: relative; margin: 1.5em 0 -10px 40.6%; clear: both; min-width: 265px; width: 36.4%; background: #4d606d; color: #c4d2db; }
.form-note .note-arrow { height: 5px; width: 100%; position: absolute; bottom: -5px; left: 0; background: url(/Templates/FreedomCore/images/form/note-arrow.gif) no-repeat center bottom; }
.form-note .note-arrow-up { height: 5px; width: 100%; position: absolute; top: -5px; left: 0; background: url(/Templates/FreedomCore/images/form/note-arrow-up.png) no-repeat center bottom; }
.form-note-up { position: relative; margin: 1.5em 0 -10px 40.6%; clear: both; min-width: 265px; width: 36.4%; background: #4d606d; color: #c4d2db; top: -10px; }
.form-note-up .note-arrow { height: 5px; width: 100%; position: absolute; bottom: -5px; left: 0; background: url(/Templates/FreedomCore/images/form/note-arrow.gif) no-repeat center bottom; }
.form-note-up .note-arrow-up { height: 5px; width: 100%; position: absolute; top: -5px; left: 0; background: url(/Templates/FreedomCore/images/form/note-arrow-up.png) no-repeat center bottom; }
.form-note-stacked { position: relative; margin: -15px 0 2em 0; clear: both; min-width: 265px; width: 31.6%; background: #4d606d; color: #c4d2db; }
.form-note-stacked .note-arrow { height: 5px; width: 100%; position: absolute; top: -5px; left: 0; background: url(/Templates/FreedomCore/images/form/note-arrow-up.png) no-repeat center bottom; }
.note { padding: 9px; }
.note h5 { font-weight: bold; color: #fff; font-size: 14px; margin: 0 0 .25em 0; }
#page-content .note p,
#page-content .note ul,
#page-content .note ol { margin: 0 0 .5em 0; }
#page-content .note ul { padding: 0 0 0 15px; }
#page-content .note ul li { list-style: disc outside; }
#page-content .note ol li { list-style: decimal inside; }
#page-content .note *:nth-last-child(2) { margin-bottom: 0; }
.note a { color: #fff; text-decoration: underline; }
.form-row .add-label { display: inline-block; font-size: 12px; line-height: 16px; background: url(/Templates/FreedomCore/images/icons/account-icons.gif) no-repeat 0 0px; padding-left: 16px; }

 /* Form toggable notes */
.ui-note { display: inline-block; position: relative; }
.ui-note .note { padding-right: 20px; }
.ui-note .note-toggler { padding-left: 6px; display: block; }
.ui-note .form-note { position: absolute; left: 6px; top: -38px; width: 200px; z-index: 5; }
.ui-note .form-note.toggle-note { display: none; }
.ui-note .close-note { position: absolute; right: 5px; top: 5px; background: url(/Templates/FreedomCore/images/icons/close-small.png) no-repeat 0 0; width: 10px; height: 10px; }
.ui-note .note-arrow { width: 5px; height: 10px; background: url(/Templates/FreedomCore/images/form/note-arrow-left.gif) no-repeat; display: block; position: absolute; left: -5px; top: 10px; }

/* Form input widths */
input.max-length-1 { width: 1em; min-width: 1em; text-align: center; }
input.max-length-2 { width: 2em; min-width: 2em; text-align: center; }
input.max-length-3 { width: 3em; min-width: 3em; text-align: center; }
input.max-length-4 { width: 4em; min-width: 4em; text-align: center; }
input.max-length-5 { width: 5em; min-width: 5em; text-align: center; }
input.max-length-6 { width: 6em; min-width: 6em; text-align: center; }
input.max-length-8 { width: 7em; min-width: 7em; }
input.max-length-16 { width: 8em; min-width: 8em; }
input.max-length-21 { width: 14em; min-width: 14em; }
.tax-update-address { display: inline; }
.tax-update-address strong,
#static-country strong { display: inline-block; font: 14px/26px "Lucida Sans Unicode","Lucida Grande","Arial",sans-serif; min-width: 250px; padding: 3px 7px; width: 35%; }


 /* alerts */
	.error { border: none; -moz-box-shadow: none; } /* common.css override */
 .alert { width: 600px; margin: 25px auto; color: #c4bdb0; font-size: 11px; overflow: hidden; }
	.alert-screenshot { margin-bottom: 50px; }
	.alert .alert-inner { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; position: relative; }
	.alert-screenshot .alert-inner { padding-right: 150px; }
	.alert-screenshot .screenshot { position: absolute; right: 16px; top: -16px; }
	.closeable .alert-inner { width: 500px; float: left; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }
	.closeable.alert-screenshot .alert-inner { width: 350px; }
	.alert .alert-message { padding: 15px 10px 15px 50px; min-height: 30px }
 .alert .alert-message .title strong { font-size: 14px; }
 .alert .alert-message a { color: #ffd800; }
	.alert .alert-close { display: block; margin: 12px 16px 0 0; width: 68px; text-align: right; float: right; color: #fff; font: normal 11px/16px "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif; text-transform: uppercase; background: url(/Templates/FreedomCore/images/icons/close-small.png) no-repeat right center; padding-right: 16px; }
	.alert .alert-close:hover,
	.alert .alert-close:focus,
	.alert .alert-close:active { color: #fff; }
 .alert p.title { line-height: 1.1; margin: 0 0 .25em 0; }
 .alert p { line-height: 1.25; margin: 0 0 .75em 0; }
 .alert ul:last-child,
 .alert p:last-child { margin-bottom: 0; }
 .alert ul { line-height: 1.25; margin: 0 0 .75em 0; padding: 0 0 0 25px; }
	.alert ul li { list-style: disc outside; }
 .alert ul li { list-style: disc; }
 .alert ul li { list-style: disc; }
 .alert ul:last-child { margin-bottom: 0; }
 .error { color: #c4bdb0; background: #530901 url(/Templates/FreedomCore/images/form/alert-error-close.png) 0 0 repeat-x; }
 .error strong { color: #fff; }
 .error .alert-inner { background: #732e03 url(/Templates/FreedomCore/images/form/alert-error.png) 0 0 repeat-x; }
 .error .alert-message { background: url(/Templates/FreedomCore/images/icons/error.png) 13px 18px no-repeat; }
	.error p.title { color: #fff; }
 .error .alert-message a { color: #ffd800; }
 .caution { color: #6f3900; background: #ea8e00 url(/Templates/FreedomCore/images/form/alert-caution-close.png) 0 0 repeat-x; }
 .caution strong { color: #000; }
 .caution .alert-inner { background: #efa700 url(/Templates/FreedomCore/images/form/alert-caution.png) 0 0 repeat-x; }
 .caution .alert-message { background: url(/Templates/FreedomCore/images/icons/warning.png) 13px 18px no-repeat; }
	.caution p.title { color: #000; }
 .caution .alert-message a { color: #006c9d; }
 .success { color: #adbda8; background: #2f4728 url(/Templates/FreedomCore/images/form/alert-success-close.png) 0 0 repeat-x; }
 .success strong { color: #fff; }
 .success .alert-inner { background: #4c7141 url(/Templates/FreedomCore/images/form/alert-success.png) 0 0 repeat-x; }
 .success .alert-message { background: url(/Templates/FreedomCore/images/icons/success.png) 13px 18px no-repeat; }
	.success p.title { color: #fff; }
 .success .alert-message a { color: #ffd800; }
 .info { color: #9edaf0; background: #00496a url(/Templates/FreedomCore/images/form/alert-info-close.png) 0 0 repeat-x; }
 .info strong { color: #fff; }
 .info .alert-inner { background: #0074a9 url(/Templates/FreedomCore/images/form/alert-info.png) 0 0 repeat-x; }
 .info .alert-message { background: url(/Templates/FreedomCore/images/icons/info.png) 13px 18px no-repeat; }
	.info p.title { color: #fff; }
 .info .alert-message a { color: #ffd800; }

.alert-page { width: 660px; padding: 60px 0 0 135px; }
.alert-page p.title { font-size: 32px; margin: 0 0 20px; line-height: 32px; }
.alert-page ul { padding: 0 0 0 1.5em; }
.alert-page ol { padding: 0 0 0 1.5em; }
.alert-page ul,
.alert-page ol,
.alert-page p { margin: 0 0 1em 0; }
.alert-page ul:last-child,
.alert-page ol:last-child,
.alert-page p:last-child { margin: 0; }
.alert-page ul li { list-style: disc; margin: 0 0 .5em 0; }
.alert-page ol li { list-style: decimal; margin: 0 0 .5em 0; }
.alert-page ul li:last-child,
.alert-page ol li:last-child { margin: 0; }
.alert-page .none-image-page { padding-left: 60px; }
.alert-page .success-page { background: url(/Templates/FreedomCore/images/icons/success-large.png) 0 0 no-repeat; padding-left: 60px; }
.alert-page .caution-page { background: url(/Templates/FreedomCore/images/icons/warning-large.png) 0 0 no-repeat; padding-left: 60px; }
.alert-page .error-page { background: url(/Templates/FreedomCore/images/icons/error-large.png) 0 0 no-repeat; padding-left: 60px; }
.alert-page .result-desc h6 { line-height: 18px; font-size: 16px; font-weight: bold; }
.alert-page .result-desc p { line-height: 16px; font-size: 12px; }
.alert-page .result-desc p.account-name { line-height: 30px; font-size: 28px; }
.alert-page .result-desc p.title-battletag { font-size: 32px; margin: 0 0 20px; line-height: 32px; color: #fff;}
.alert-page .button1:first-of-type { padding-left: 0; }
.alert-page .result-desc p.full-battletag,
.alert-page .result-desc p.strong-paragraph { font-size:16px; font-weight:bold; line-height:24px; }
.alert-page .result-desc p.full-battletag strong{font-size:24px;}
.alert-page .result-desc p.full-battletag{font-size:16px; font-weight:bold; line-height:24px;}
.alert-page .result-desc p.full-battletag strong{font-size:24px;}

/* icons */
.icon-cards,
.icon-note,
.icon-add,
.icon-buy,
.icon-edit,
.icon-change,
.icon-lock,
.icon-delete,
.icon-beta,
.icon-merge,
.icon-download,
.icon-starter,
.icon-confirm,
.icon-help,
.icon-warning,
.icon-cart,
.icon-search,
.icon-none {
	display: inline-block; padding-left: 20px; background: url(/Templates/FreedomCore/images/icons/account-icons.gif) 0 0 no-repeat;
 }
.icon-external {
	display: inline-block; padding-right: 16px; background: url(/Templates/FreedomCore/images/icons/link-icons.png) right 0 no-repeat;
 }
.icon-cards { background-position: 0 0; }
.icon-note { background-position: 0 0; }
.icon-add { background-position: 0 -359px; }
.icon-buy { background-position: 0 -80px; }
.icon-edit { background-position: 0 0; }
.icon-change { background-position: 0 0; }
.icon-lock { background-position: 0 -203px; }
.icon-delete { background-position: 0 -280px; }
.icon-beta { background-position: 0 0; }
.icon-merge { background-position: 0 -120px; }
.icon-download { background-position: 0 -160px; }
.icon-starter { background-position: 0 -640px; }
.icon-confirm { background-position: 0 -396px; }
.icon-help { background-position: 0 -435px; }
.icon-warning { background-position: 0 -476px; }
.icon-cart { background-position: 0 -521px; }
.icon-search { background-position: 0 -565px; }
.icon-none { background-position: 0 565px; }

.icon-external { background-position: right 2px; }
.icon-external:hover,
.icon-external:focus { background-position: right -38px; }

/* special form header */
.form-sub-header { font-size: 14px; color: #FFFFFF; line-height: 38px; background: url(/Templates/FreedomCore/images/form/header.png) repeat-x scroll 0 0 #515151; padding-left: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.form-sub-header { -moz-box-shadow: #888 0 2px 8px; -webkit-box-shadow: #888 0 2px 8px; box-shadow: #888 0 2px 8px; margin-top: 40px; }

/* form overwrites */
.section-left .label-compact { display: none; }
.section-left .form-row input,
.section-left .form-row select { display: block; }
.zipcode, .phone-extension { width: 75px; } /*TODO: Refactor */
.phone-number { width: 140px; } /*TODO: Refactor */
.form-row input.auto-width, .form-row select.auto-width { width: auto; min-width: inherit; }
.form-row .hidden { display: none; }
.ssnform-no { width: 135px; }
.zipcode-text { display: inline; position: relative; top: -2px; line-height: 32px; }

.on-page-warning { margin: 24px 12px 0; }
.on-page-warning .icon-section-warning { background: url(/Templates/FreedomCore/images/icons/sprite.png) no-repeat -256px -192px; }
.on-page-warning .icon-32-label { font-size: 14px; font-weight: bold; width: 540px; line-height: 1.5em; }

/*tables */
.sort-link,
.sort-tab { display: block; }
.sort-link:hover,
.sort-link:focus { color: #014663; }
.sort-link .arrow { padding-left: 10px; background: url(/Templates/FreedomCore/images/icons/table-sort-arrows.png) 0 -8px no-repeat }
.sort-link:hover .arrow,
.sort-link:focus .arrow { background-position: 0 -113px }
.sort-link .up { background-position: 0 -78px }
.sort-link .down { background-position: 0 -43px }
table .sort-data.hidden { display: none; } /* table specificity for ie6 */

/* Misc styles */
.arrow-done { background: url(/Templates/FreedomCore/images/icons/arrow-done.png) no-repeat 0 0; padding-left: 60px; color: #4a8432; line-height: 54px; padding: 10px 0 10px 75px; }

.faq-buttons { margin: 0 0 5em 0; }
.info-list { margin: 3em 0 4em 0; }
.info-list li,
.faq-list li { margin: 0 0 1em 0; }
.faq-list strong { display: block; }

.error-arrow { background: url(/Templates/FreedomCore/images/form/error-arrow.gif) no-repeat scroll center bottom transparent; height: 5px; width: 550px; margin: 0px auto; }

.captcha-reloader { display: inline-block; font-size: 10px; font-weight: normal; line-height: 12px; }
#sec-string { cursor: pointer; }

/* result page */
.result { }

/* ui.css */
.ui-corner-all { -moz-border-radius: 5px; }
.ui-widget-overlay { background: #000; left: 0; top: 0; position: absolute; height: 100%; width: 100%; opacity: .8; filter: opacity=(.8); }

/* draggable */
.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* dialog */
.ui-dialog { background: #dbdbdb; border: 1px solid #fff; overflow: hidden; position: absolute; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { display: none; }
.ui-dialog .ui-dialog-titlebar { height: 30px; font-size: 14px; padding: 0 10px; line-height: 30px; color: #fff; background: url(/Templates/FreedomCore/images/layout/section-title.gif) 0 0 repeat-x; }
.ui-dialog .ui-dialog-titlebar a { float: right; color: #fff; background: url(/Templates/FreedomCore/images/service-bar/close.gif) 100% 50% no-repeat; padding-right: 17px; }
.ui-dialog .ui-dialog-content { padding: 10px; width: auto; height: auto; }
.ui-dialog .ui-dialog-buttonpane { text-align: center; padding: 10px; border-top: 1px solid #bababa; }
.ui-dialog-buttonpane button.ui-button .first { margin-right: 10px; }
.ui-dialog-buttonpane button.ui-button span { padding-right: 30px; }

#kt-rsk,
#kt-rsk-image { width: 1px; height: 1px; }

/* Dashbaord subs & game time */
a.subs-game-time { display: table-cell; vertical-align:middle; text-align: center; height: 48px; width: 204px; padding: 4px 12px 4px 12px; overflow: hidden; background: #387a03 url(/Templates/FreedomCore/images/dashboard/buttons/download.png) repeat-x 0 0; color: #fff; cursor: pointer; position: relative; margin-bottom:12px;}
a.subs-game-time strong { display: block; font-size: 18px; line-height: 1.1; }
a.subs-game-time:hover, a.subs-game-time:focus { background-color: #6dab04; background-position: 0 -56px; color: #fff; }

a.subs-game-time-chargeback { display: table-cell; vertical-align:middle; text-align: center; height: 48px; width: 204px; padding: 4px 12px 4px 12px; overflow: hidden; background: #efa700 url(/Templates/FreedomCore/images/dashboard/buttons/chargeback.png) repeat-x 0 0; color: #fff; cursor: pointer; position: relative; margin-bottom:12px;}
a.subs-game-time-chargeback strong { display: block; font-size: 18px; line-height: 1.1; }
a.subs-game-time-chargeback:hover, a.subs-game-time:focus { background-color: #efa700; background-position: 0 -56px; color: #fff; }
#kt-rsk,
#kt-rsk-image { width: 1px; height: 1px; }

.game-time a.disabled { background: #bdbcb9; cursor: not-allowed; }

.promo-bubble-holder { position: relative; }
.promo-bubble-holder .promo-bubble { position: absolute; right: 0; top: 0; height: 24px; line-height: 24px; padding: 0 12px; background: url(/Templates/FreedomCore/images/account/lobby/add-game-button.png) repeat-x 0 100%; color: #fff; border-radius: 3px; font-size: 12px; font-weight: normal; }

/* DOM template container */
.templates { display: none; height: 0; overflow: hidden; width: 0; }

/* Navbar fixes */
.footer-desktop .nav-ratings {
    clear: none;
    float: right;
}

@media (min-width:1200px) {
    #nav-footer .footer-desktop .nav-ratings {
        float: right;
    }
}