
.community-home #content .content-bot { background: url(/Templates/FreedomCore/images/homepage/shadow.png) repeat-y 0 0 transparent; }

#left { width: 646px; float: left; }
#right { width: 307px; float: right; padding-right: 18px;}

#left .profiles {	
	width: 646px;
    height: 328px;
	background: url(/Templates/FreedomCore/images/community/bg-profiles.jpg) no-repeat 100% 0;
}
#left .main-feature { background: url(/Templates/FreedomCore/images/community/left-features-bg.jpg) repeat-y 0 0 #23120B; }
#left .main-feature .main-feature-wrapper { background: url(/Templates/FreedomCore/images/community/left-features-bg-first.jpg) no-repeat 0 0; padding: 51px 0 50px 0; }


.profiles {position: relative; z-index: 0;}
.profiles h4 { font: 52px Palatino Linotype, Sans-serif; color: #efe3d2; margin-left: 30px; padding-top: 20px; }
.profiles .profiles-tip { font-size: 12px; color: #98562a; float: right; width: 290px; text-align: center; margin-top: 167px; padding: 10px; }
#sidebar-profiles-search { width: 305px; margin: 19px 0 0 30px; float: left; }
#sidebar-profiles-search  .sidebar-title { margin-bottom: 20px; }
.profiles-search-block { margin-top: 15px; }
.profiles-search-block .profiles-search-title { display: block; }
.profiles-search-block input { line-height: 26px; color: #707070; font-size: 13px; background-color: #f1ebd7; border: 0; height: 26px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: 175px; margin-top: 7px; padding: 0 9px 0 9px; }
.profiles-search-block input.active, .profiles-search-block input:focus {color:#000;}
.profiles-search-block .ui-button {position:relative; top:-1px;}

#sidebar-leaderboards .sidebar-title h3, #sidebar-profiles-search .sidebar-title h3 { font-size: 17px; }
#sidebar-leaderboards { width: 587px; margin-left: 30px; }
#sidebar-leaderboards .leaderboard-content-block { background: url(/Templates/FreedomCore/images/community/leaderboards-bg.png) repeat 0 0; width: 238px; margin-top: 19px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; padding: 13px 20px 15px 20px; }
#sidebar-leaderboards #challenge-mode { float: left;}
#sidebar-leaderboards #pvp-ladder { float: right;}
#sidebar-leaderboards a.leaderboard-content-title { display: inline-block; font-size: 20px; color: #fab000; background: url(/Templates/FreedomCore/images/icons/more-arrows.gif) no-repeat 100% 9px; padding-right: 14px; }
#sidebar-leaderboards a.leaderboard-content-title:hover { background-position: 100% -38px; }
#sidebar-leaderboards .leaderboard-content-desc { color: #98562a; display: block; margin-bottom: 30px; }

/* Dungeons for challenge mode */
#sidebar-leaderboards .group a { display: block; padding-bottom: 11px; }
#sidebar-leaderboards .group .group-name { display: inline-block; vertical-align:middle; width:180px;}
#sidebar-leaderboards .group .group-desc { color: #874d25; font-size: 11px; display:block; }
#sidebar-leaderboards .group a:hover .group-desc { color: #fff; }
#sidebar-leaderboards .group .group-thumbnail { border: 1px solid #493221; display: inline-block; vertical-align:middle; overflow: hidden; width: 38px; height: 38px; margin: 1px 11px 1px 1px;
	background-color: #3b1c11; background-image: url(/Templates/FreedomCore/images/wiki/zone/thumbnails.png); background-repeat: no-repeat;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: #0d0703 0 0 5px; -webkit-box-shadow: #0d0703 0 0 5px; box-shadow: #0d0703 0 0 5px; }
#sidebar-leaderboards .group a:hover .group-thumbnail { border: 1px solid #ffb100; }
#sidebar-leaderboards #pvp-ladder .group .group-thumbnail { background-image: url(/Templates/FreedomCore/images/community/arena-thumbnails.jpg); }

/* thumbnails */
.thumb-auchindoun { background-position: -4440px 0; }
.thumb-bloodmaul-slag-mines { background-position: -4480px 0; }
.thumb-grimrail-depot { background-position: -4520px 0; }
.thumb-iron-docks { background-position: -4560px 0; }
.thumb-shadowmoon-burial-grounds { background-position: -4600px 0; }
.thumb-skyreach { background-position: -4640px 0; }
.thumb-the-everbloom { background-position: -4680px 0; }
.thumb-upper-blackrock-spire { background-position: -4720px 0; }
.thumb-blackrock-foundry { background-position: -4760px 0; }
.thumb-highmaul { background-position: -4800px 0; }
.thumb-pvp-overview { background-position: 0 0 }
.thumb-battlegrounds { background-position: 0 -38px }
.thumb-arena-2v2, .thumb-arena-3v3, .thumb-arena-5v5 { background-position: 0 -76px }

.sidebar-module { width:100%; }
.sidebar-module .sidebar-content .content-title { font-size:13px; line-height:22px; color: #FFB100; float: left; }
.sidebar-module .sidebar-content .content-desc { font-size:12px; line-height:14px; color:#a4704e; display:block; float: left; width: 192px; }
.sidebar-module .sidebar-content .content-desc em { font-size:11px; color:#80461f; display:block; margin-bottom:2px; }
.sidebar-module .sidebar-content a:hover .content-title, .sidebar-module .sidebar-content a:hover .content-desc { color: #fff; }
.sidebar-module .sidebar-content ul li { border-bottom:1px solid #2e2218; }
.sidebar-module .sidebar-content ul li a.block  { display: block; padding: 10px 10px 10px 0; }

#sidebar-auction-house .sidebar-content .content-icon, #sidebar-game-realms .sidebar-content .content-icon, #sidebar-blizzard-community .sidebar-content .content-icon { display: block; width: 103px; height: 75px; float: left; background-repeat: no-repeat; background-image: url(/Templates/FreedomCore/images/community/community-index-sprite.png); }
#sidebar-auction-house .sidebar-content .web-auction-house .content-icon { background-position: -2px -4px; }
#sidebar-auction-house .sidebar-content .mobile-armory .content-icon { background-position: 1px -94px; }
#sidebar-game-realms .sidebar-content .realm-status .content-icon { background-position: -2px -526px; }
#sidebar-blizzard-community .sidebar-content .contests .content-icon { background-position: 1px -350px; }

/* Localization */
.es-mx .profiles-search-block input { width: 160px; }
.fr-fr .profiles-search-block input { width: 140px; }
.pt-br #sidebar-leaderboards a.leaderboard-content-title, .pt-pt #sidebar-leaderboards a.leaderboard-content-title {font-size: 18px;}
.ko-kr .profiles h4 { font-family: DaumRegular,Dotum; }
.ko-kr .sidebar-module .sidebar-title h3 { font-family: DaumRegular,Dotum;  }
.ko-kr .sidebar-module .sidebar-content .content-desc { line-height: 16px;  }
.ko-kr .profiles-search-block .profiles-search-title { font-size: 12px; }
.ko-kr #sidebar-leaderboards a.leaderboard-content-title { font-family: DaumRegular,Dotum; }
.ko-kr #sidebar-leaderboards .group .group-name { font-size: 12px; }