@charset "utf-8";

#content .content-top { background:url(/Templates/FreedomCore/images/game/comparison/content-top.jpg) no-repeat scroll 0 0 transparent; }

#realm-filters { margin-top: 15px; clear:both }
#realm-filters input[type=text],
#realm-filters select { width: 150px; }
#realm-filters #filter-status { width: auto; }
#realm-filters .filter { margin-bottom: 0; }

#realm-status { padding: 20px; }
#realm-status .tab-menu { float: left; }
#realm-status .filter-toggle { float: right; }

.table .status { width: 50px; text-align: center; }
.table .name { width: auto; font-weight:bold; }
.table .type { width: 90px; text-align: center; }
.table .population { width: 130px; text-align: center; }
.table .locale { width: 110px; text-align: center; }
.table .queue { width: 90px; text-align: center; }

.filter-text { display:none; }
.table td.status { padding-top:0; padding-bottom:0; }
.status-icon { background:url(/Templates/FreedomCore/images/icons/status.gif) 0 0 no-repeat; margin:0 auto; height:28px; width:27px; }
.status-icon.up { background-position:-110px 0; }

td.type span,
td.population span { color:#ebdba2; }
.type .pvp,
.population .high,
.population .full { color:#C33 }
.type .rp,
.population .low { color:#3C3; }
.population .new,
.population .newplayers { color:#09C; }

.no-results { font-style: italic; font-size: 120%; text-align: center; padding: 15px 0; color: #C09A67 }