@charset "utf-8";

.profile-filters .tabs { padding: 0; }
.reputation-tabular .profile-filters { padding: 15px; }

/* overrides */
.reputation-tabular .profile-section { padding: 0; }
.reputation-tabular table { border-left: 1px solid #2a150d; }
.reputation-tabular table thead a:first-child { position: relative; left: -1px; }
.reputation-tabular table td { width: 33%; }

.reputation-category,
.reputation-subcategory,
.faction-details { clear: both; overflow: hidden; }

.reputation-entry {  }

.reputation-category { margin-bottom: 30px; }
.reputation-category .category-header { color: #fff9b2; font-size: 22px; font-weight: normal; letter-spacing: -0.05em; padding-left: 20px; background: url(/Templates/FreedomCore/images/icons/collapse-expand.png) no-repeat 0 -80px; cursor: pointer; }
.reputation-category.category-collapsed .category-header { background-position: 0 -120px; }
.reputation-category .category-header:hover { color: #fff; background-position: 0 -160px; }
.reputation-category.category-collapsed .category-header:hover { color: #fff; background-position: 0 -200px; }

.reputation-subcategory { margin-top: 20px;}
.reputation-subcategory.subcategory-collapsed { }
.reputation-subcategory .faction-header { padding-left: 40px; font-size: 18px; font-weight: normal; letter-spacing: -0.05em; color: #9c3802; background: url(/Templates/FreedomCore/images/icons/collapse-expand.png) no-repeat 20px -4px; width: 230px;float: left; cursor: pointer;}
.reputation-subcategory.subcategory-collapsed .faction-header { background-position: 20px -44px; }
.reputation-subcategory .faction-header:hover { color: #fff; background-position: 20px -164px; }
.reputation-subcategory.subcategory-collapsed .faction-header:hover { color: #fff; background-position: 20px -204px; }
.reputation-subcategory .factions { margin: 0; }

.faction-details { border-top: 1px solid #331304; }
.faction-details:first-child { border-top: 0; }
.faction-subcategory-details { border-top: 0 !important; }

.reputation-subcategory .faction-details { border-top: 1px solid #331304; }

.faction-name,
.faction-standing,
.faction-level { line-height: 22px; float: left; height: 22px; padding: 4px 0; }
td .faction-name,
td .faction-standing,
td .faction-level { padding: 0; margin: 0; }

.faction-name { margin-right: 20px; margin-left: 40px; width: 210px; }

.faction-standing { width: 300px; overflow: hidden; }
.faction-bar { width: 300px; height: 22px; background: #542b19 url(/Templates/FreedomCore/images/character/reputation/bar-background.png) no-repeat 0 0; position: relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.faction-score { font-weight: bold; color: #fff; text-shadow: 1px 1px 1px black; text-align: center; z-index: 2; position: absolute; top: 0; left: 0; width: 100%; }
.faction-fill { height: 22px; z-index: 1; background: url(/Templates/FreedomCore/images/character/reputation/bar-background.png) no-repeat 0 -44px; -moz-border-radius: 3px; -moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0; -webkit-border-radius: 3px; -webkit-border-top-right-radius: 0; -webkit-border-bottom-right-radius: 0; border-radius: 3px; border-radius-topright: 0; border-radius-bottomright: 0; }
.full-fill { -moz-border-radius: inherit; -webkit-border-radius: inherit; border-radius: inherit;}

.rank-7 .faction-fill { background-position: 0 -88px; }
.rank-6 .faction-fill { background-position: 0 -66px; }
.rank-5 .faction-fill { background-position: 0 -66px; }
.rank-4 .faction-fill { background-position: 0 -66px; }
.rank-3 .faction-fill { background-position: 0 -44px; }
.rank-2 .faction-fill { background-position: 0 -22px; }
.rank-1 .faction-fill { background-position: 0 -22px; }
.rank-0 .faction-fill { background-position: 0 -22px; }

.faction-level { padding-left: 30px; font-weight: bold; }
.rank-7 .faction-level { color: #00be70; }
.rank-6 .faction-level { color: #51ab01; }
.rank-5 .faction-level { color: #51ab01; }
.rank-4 .faction-level { color: #51ab01; }
.rank-3 .faction-level { color: #d2ac00; }
.rank-2 .faction-level { color: #a00000; }
.rank-1 .faction-level { color: #a00000; }
.rank-0 .faction-level { color: #a00000; }

/* fansite */
.faction-details .fansite-link { margin-top: 5px; display: none; }
.faction-details:hover .fansite-link { display: block; }